<div class="bh-tab-two bh-on bh-overf" id="bh-tejia">
                		<div class="bh-window4 bh-fl">
                    	<ul>
                  			<li class="bh-img"><a target="_blank" href="#"><img src="${imageDomain}/images/templ/pd6.gif" width="110" height="110" /></a></li>
                  			<li class="bh-fr bh-message"><a target="_blank" href="#" class="bh-p-title">包邮 ！全新 摩托罗拉 ME501/MB501/最新2.1/2.3 1220.00￥1050.00诺基亚 C5-03 C503最新</a><span class="bh-red">￥3600</span><a href="#" class="bh-btn">购&nbsp;买</a></li>

                		</ul>
                    </div>
                    <div class="bh-window4 bh-fl">
                    	<ul>
                  			<li class="bh-img"><a target="_blank" href="#"><img src="${imageDomain}/images/templ/pd6.gif" width="110" height="110" /></a></li>
                  			<li class="bh-fr bh-message"><a target="_blank" href="#" class="bh-p-title">包邮 ！全新 摩托罗拉 ME501/MB501/最新2.1/2.3 1220.00￥1050.00诺基亚 C5-03 C503最新</a><span class="bh-red">￥3600</span><a href="#" class="bh-btn">购&nbsp;买</a></li>
                		</ul>
                    </div>
                    <div class="bh-window4 bh-fl">
                    	<ul>
                  			<li class="bh-img"><a target="_blank" href="#"><img src="${imageDomain}/images/templ/pd6.gif" width="110" height="110" /></a></li>
                  			<li class="bh-fr bh-message"><a target="_blank" href="#" class="bh-p-title">包邮 ！全新 摩托罗拉 ME501/MB501/最新2.1/2.3 1220.00￥1050.00诺基亚 C5-03 C503最新</a><span class="bh-red">￥3600</span><a href="#" class="bh-btn">购&nbsp;买</a></li>
                		</ul>
                    </div>
                    <div class="bh-window4 bh-fl">
                    	<ul>
                  			<li class="bh-img"><a target="_blank" href="#"><img src="${imageDomain}/images/templ/pd6.gif" width="110" height="110" /></a></li>
                  			<li class="bh-fr bh-message"><a target="_blank" href="#" class="bh-p-title">包邮 ！全新 摩托罗拉 ME501/MB501/最新2.1/2.3 1220.00￥1050.00诺基亚 C5-03 C503最新</a><span class="bh-red">￥3600</span><a href="#" class="bh-btn">购&nbsp;买</a></li>
                		</ul>
                    </div>
                	</div>