<div class="bh-new-comment bh-mtop10">
            <div class="bh-com-smalltab bh-two bh-bigFont bh-strong bh-red">最新评论</div>
            <div class="bh-zcon bh-overf">
              <div class="bh-m-window2">
                <dl class="bh-overf">
                  <dt class="bh-img bh-fl"><a target="_blank" href="#"><img src="${imageDomain}/images/templ/pd3.gif" width="79" height="75"/></a></dt>
                  <dd class="bh-fr bh-message"><a target="_blank" href="#" class="bh-p-title bh-show">HTC G11</a><span>2012-02-22</span>2166<br />
                    <p>不错功能强大，上网很快。哈性价比很高，值得拥有！</p>
                  </dd>
                </dl>
              </div>
              <div class="bh-m-window2">
                <dl class="bh-overf">
                  <dt class="bh-img bh-fl"><a target="_blank" href="#"><img src="${imageDomain}/images/templ/pd3.gif" width="79" height="75"/></a></dt>
                  <dd class="bh-fr bh-message"><a target="_blank" href="#" class="bh-p-title bh-show">HTC G11</a><span>2012-02-22</span>2166<br />
                    <p>不错功能强大，上网很快。哈性价比很高，值得拥有！</p>
                  </dd>
                </dl>
              </div>
              <div class="bh-m-window2">
                <dl class="bh-overf">
                  <dt class="bh-img bh-fl"><a target="_blank" href="#"><img src="${imageDomain}/images/templ/pd3.gif" width="79" height="75"/></a></dt>
                  <dd class="bh-fr bh-message"><a target="_blank" href="#" class="bh-p-title bh-show">HTC G11</a><span>2012-02-22</span>2166<br />
                    <p>不错功能强大，上网很快。哈性价比很高，值得拥有！</p>
                  </dd>
                </dl>
              </div>
              <div class="bh-m-window2">
                <dl class="bh-overf">
                  <dt class="bh-img bh-fl"><a target="_blank" href="#"><img src="${imageDomain}/images/templ/pd3.gif" width="79" height="75"/></a></dt>
                  <dd class="bh-fr bh-message"><a target="_blank" href="#" class="bh-p-title bh-show">HTC G11</a><span>2012-02-22</span>2166<br />
                    <p>不错功能强大，上网很快。哈性价比很高，值得拥有！</p>
                  </dd>
                </dl>
              </div>
              <div class="bh-m-window2">
                <dl class="bh-overf">
                  <dt class="bh-img bh-fl"><a target="_blank" href="#"><img src="${imageDomain}/images/templ/pd3.gif" width="79" height="75"/></a></dt>
                  <dd class="bh-fr bh-message"><a target="_blank" href="#" class="bh-p-title bh-show">HTC G11</a><span>2012-02-22</span>2166<br />
                    <p>不错功能强大，上网很快。哈性价比很高，值得拥有！</p>
                  </dd>
                </dl>
              </div>
              <div class="bh-m-window2" style=" border:0 none;">
                <dl class="bh-overf">
                  <dt class="bh-img bh-fl"><a target="_blank" href="#"><img src="${imageDomain}/images/templ/pd3.gif" width="79" height="75"/></a></dt>
                  <dd class="bh-fr bh-message"><a target="_blank" href="#" class="bh-p-title bh-show">HTC G11</a><span>2012-02-22</span>2166<br />
                    <p>不错功能强大，上网很快。哈性价比很高，值得拥有！</p>
                  </dd>
                </dl>
              </div>
              
            </div>
          </div>