<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商品统计</title>
    <link href="css/admin.css" rel="stylesheet">
	<link href="css/art.css" rel="stylesheet">
	<link href="css/default.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<script type="text/javascript" src="js/jquery.js"></script>
<script language="javascript" src="DatePicker/WdatePicker.js" type="text/javascript"></script>  
</head>

<body>
#getMothodSc("moduleName=admin.action.Common" "parameters=tag:1,vmpath:admin/head.vm,level:7,level2:47");
<div id="admin_right">
	<script src="/runtime/systemjs/my97date/wdatepicker.js" charset="UTF-8"></script>
<div class="headbar">
	<div class="position"><span>运营统计</span><span>&gt;</span><span>商品统计</span></div>
	<div class="operating">
		<div class="search">
		<form id="countmailForm" method="post" action="getCountMailList.htm" name="">
		<input type="hidden" name="curPage" id="curPage" value="1">
		选择时间: 
		邮箱<input type="text"  class="small" name="email" value="$!email"/> 时间
		<input name="begintime" class="Wdate small" onfocus="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss',skin:'blue',maxDate:'%y-%M-%d'})" value="$!date.format('yyyy-MM-dd HH:mm:ss',$!begintime)" />
		<input name="endtime" class="Wdate small" onfocus="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss',skin:'blue',maxDate:'%y-%M-%d'})" value="$!date.format('yyyy-MM-dd HH:mm:ss',$!endtime)" />
		
		<button type="submit" class="btn"><span class="sch">搜 索</span></button>
		</form>
		</div>
	</div>
	<div class="field">
		<table class="list_table">
			<thead>
				<tr id="headth" role="head" class="">
					<th style="width: 58px;text-align: center;">编号</th>
					<th style="width: 206px;text-align: center;">邮箱</th>
					<th style="width: 91px;text-align: center;">订阅时间</th>
					<th style="width: 91px;text-align: center;">退订时间</th>
					<th style="width: 99px;text-align: center;">状态</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<div class="content" style="height: 436px;">
	<table class="list_table" id="list_table">
		<tbody id="conth">
		 #foreach( $cm in $cmList )
				<tr class="">
				<td style="width: 58px;text-align: center;">$cm.id</td>
				<td  style="width: 206px;text-align: center;">$cm.email</td>
				<td title="0.00" style="width: 91px;text-align: center;">  $!date.format('yyyy-MM-dd HH:mm:ss',$!cm.dy_time) </td>
				<td title="0" style="width: 91px;text-align: center;">$!date.format('yyyy-MM-dd HH:mm:ss',$!cm.td_time)</td>
				<td title="2012-03-23" style="width: 99px;text-align: center;">$cm.status</td>
			</tr>
			#end
					</tbody>
	</table>
	#getPageHtml("formId=countmailForm" "parameters=pageNo:$page.pageNo,pageSize:$page.pageSize,totalCount:$page.totalCount,pageviewcount:$page.pageviewcount,vmpath:common/page.vm");
</div>
	
	</div>
	     
</body>
</html>
