<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>订单管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="${request.getContextPath()}/css/admin.css" rel="stylesheet">
<link href="${request.getContextPath()}/css/style.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" language="javascript" src="${request.getContextPath()}/js/jquery.js"></script>
</head>
<body>
#getMothodSc("moduleName=admin.action.Common" "parameters=tag:1,vmpath:admin/head.vm,level:6,level2:0");
<div id="admin_right">
	<div class="headbar">
		<div class="position">订单<span>&gt;</span><span>订单管理</span><span>&gt;</span><span>订单列表</span></div>
		<div class="searchbar">
			<form action="${request.getContextPath()}/orders.htm" method="post" name="order_list">
				<select name="payStatus"  class="normal" style="width:110px">
					<option value="0" #if(${payStatus} == 0) selected #end>选择支付状态</option>
					<option value="1" #if(${payStatus} == 1) selected #end>未支付</option>
					<option value="2" #if(${payStatus} == 2) selected #end>已支付</option>
				</select>
				<select name="payType"  class="normal" style="width:110px">
					<option value="0" #if(${payType} == 0) selected #end>选择支付类型</option>
					<option value="1" #if(${payType} == 1) selected #end>付款发货</option>
					<option value="2" #if(${payType} == 2) selected #end>货到付款</option>
					<option value="3" #if(${payType} == 3) selected #end>公司转账</option>
					<option value="4" #if(${payType} == 4) selected #end>邮局汇款</option>
				</select>
				<select name="orderStatus"  class="normal" style="width:110px">
					<option value="" #if(${orderStatus} == "") selected #end>选择订单状态</option>
					<option value="A" #if(${orderStatus} == "A") selected #end >订单申请</option>
					<option value="B" #if(${orderStatus} == "B") selected #end >待审核</option>
					<option value="E" #if(${orderStatus} == "E") selected #end >待发货</option>
					<option value="F" #if(${orderStatus} == "F") selected #end >已发货</option>
					<option value="G" #if(${orderStatus} == "G") selected #end >已确认收货</option>
					<option value="C" #if(${orderStatus} == "C") selected #end >审核拒绝</option>
					<option value="D" #if(${orderStatus} == "D") selected #end >正常取消</option>
				</select>
				用户名：<input class="small" name="menberId" type="text" value="$!{menberId}" />
				订单号：<input class="small" name="orderCode" type="text" value="$!{orderCode}" style="width:140px"/>
				<button class="btn" type="submit"><span>查 询</span></button>
			</form>
		</div>
	
		<div class="field">
			<table class="list_table">
				<colgroup><col width="155px" />
				<col width="80px" />
				<col width="80px" />
				<col width="80px" />
				<col width="100px" />
				<col width="80px" />
				<col width="80px" />
				<col width="100px" />	
				<col width="130px" />
				<col width="130px" /></colgroup>
				<thead>
					<tr id="headth">
						<th>订单号</th>
						<th>订单状态</th>
						<th>支付状态</th>
						<th>支付类型</th>
						<th>商品价格</th>
						<th>邮费价格</th>
						<th>付款金额</th>
						<th>下单时间</th>
						<th>下单用户</th>
						<th>操作</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>

	<div class="content">
		<table class="list_table">
			<colgroup><col width="155px" />
				<col width="80px" />
				<col width="80px" />
				<col width="80px" />
				<col width="100px" />
				<col width="80px" />
				<col width="80px" />
				<col width="100px" />	
				<col width="130px" />
				<col width="130px" /></colgroup>
			<tbody id="conth">
				#foreach($row in $order_info_list)
					<tr>
						<td>${row.orderCode}</td>
						<td>${row.getPayStatusDisplay()}</td>
						<td>#if(${row.payStatus} == 2) 已支付 #else 未支付 #end</td>
						<td>${row.getPayTypeDisplay()}</td>
						<td>${row.goodsAmount}</td>
						<td>${row.expressAmount}</td>
						<td>${row.payTotal}</td>
						<td>${row.dtOrderCreate}</td>
						<td>${row.userId}</td>
						<td><button class="btn" type="button"><span>查询详情</span></button></td>
						<td><button class="btn" type="button"><span>查询详情</span></button>
							#if(${row.payType}==3||${row.payType}==4&&${row.payStatus}==1)
								<button class="btn" type="button" onclick="pay(${row.orderCode})"><span>付款</span></button>
							#end
						</td>
					</tr>
				#end						
			</tbody>
		</table>
	</div>
</div>
<form id="orderPageForm" action="${request.getContextPath()}/orders.htm" method="post">
	<input type="hidden" name="curPage" id="curPage" value="1">
</form>
#getPageHtml("formId=orderPageForm" "parameters=pageNo:$page.pageNo,pageSize:$page.pageSize,totalCount:$page.totalCount,pageviewcount:$page.pageviewcount,vmpath:common/page.vm");
#getMothodSc("moduleName=admin.action.Common" "parameters=tag:2,vmpath:admin/foot.vm");
<script type='text/javascript'>
	//隔行换色
	$(".list_table tr::nth-child(even)").addClass('even');
	$(".list_table tr").hover(
		function () {
			$(this).addClass("sel");
		},
		function () {
			$(this).removeClass("sel");
		}
	);
	$(function(){
		 $('#headth th').each(function(i){
			var width = $('#headth th:eq('+i+')').width();
			$('#conth tr:eq(0) td:eq('+i+')').width(width-2);
		});
	});
	function pay(orderCode){
		$.ajax({
			url: 'orderPay.htm',
			type: 'GET',
			data: {code:orderCode},
			dataType: 'json',
			success: function(data){
				//刷新数据
			   $("#conth").html(data);
			}
		});
	}
	
</script>
</body>
</html>
