<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>订单成功</title>
<link href="${cssDomain}/css/reset.css" type="text/css" rel="stylesheet"/>
<link href="${cssDomain}/css/common.css" type="text/css" rel="stylesheet"/>
<link href="${cssDomain}/css/page.css" type="text/css" rel="stylesheet"/>

</head>
<body >
<!--head begin-->
#getFrontWindow("moduleName=frontpage.common.CommonFront" "parameters=tag:HEAD,vmpath:frontpage/carthead.vm")
<!--head end-->
<div class="bh-p-content">
  <div class="bh-content">
    <div class="bh-section">
      <div class="cart-frame">
        <div class="tl"></div>
        <div class="tr"></div>
      </div>
      <div class="bh-cart-overf">
        <div class="bh-ztab bh-bigFont">订单提交页</div>
        <div class="bh-zcon">
          <div id="bh-zbuzou1"><s class="bh-zduihao bh-fl"></s>
            <div class="bh-fore">
              <h3 class="bh-009900 bh-bigFont bh-mBt10"> 订单已提交，请尽快付款！</h3>
              <div class="bh-table bh-overf bh-mBt10">
                <table cellspacing="0" cellpadding="0" border="0" width="395">
                  <tbody>
                    <tr>
                      <th> 订单号 </th>
                      <th> 应付金额 </th>
                      <th> 支付方式 </th>
                      <th> 配送方式 </th>
                    </tr>
                    <tr>
                      <td><a target="_blank" href="getDetail.htm?orderCode=${order.orderCode}"> $!{order.orderCode}</a></td>
                      <td><span class="bh-red">￥$!{order.payTotal}</span></td>
                      <td> 邮局汇款</td>
                      <td> MAAAAM235544455 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="bh-zbuzou2">
            <div class="bh-overf">
              <div class="bh-fl bh-bigFont bh-strong">请立即支付，即可完成订单，<span style="color:#FF6600;">付款后请进入订单中心填写付款确认单</span></div>
              <div class="bh-fr" style="color:#FF6600;">请在24小时内付清款项，否则订单会被自动取消</div>
            </div>
          </div>
          <div id="bh-zbuzou3">
          	<div class="bh-zzcon">
            	<dl class="bh-watch">
            	<dt>注意：邮局汇款时需填写一下信息，请牢记！</dt>
                <dd>1.收款人请填写“京创”</dd>
                <dd>2.汇款种类请选择”商户汇款”</dd>
                <dd>3.商户客户号请填写“310423054”</dd>
                <dd>4.汇款识别码<span class="bh-strong">MAAAAM262070911</span>，此汇款识别码是快钱匹配京创订单的唯一编码<span style="color:#FF6600;">（请在汇款时将此汇款识别码填写到附言栏）</span></dd>
            	</dl>
            </div>
          </div>
          <div id="bh-zbuzou4">
          	
<span class="bh-strong">邮局汇款说明：</span><br />
1、邮局汇款通过快钱收款，请放心使用；<br />
2、邮局汇款一般1-3个工作如到账，到帐后您订购的物品将立即为您配货。

          </div>
          <div class="bh-userlook"> 完成支付后，您可以： <a target="_blank" href="getDetail.htm?orderCode=${order.orderCode}">查看订单状态</a> <a href="getSearchList.htm?keyName=">继续购物</a> <a href="#">问题反馈</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- foot begin -->
#getFrontWindow("moduleName=frontpage.common.CommonFront" "parameters=tag:FOOT,vmpath:frontpage/foot.vm")
<!-- foot end -->
</body>
</html>
