<div class="bh-p-foot bh-mtop10 bh-member-foot">
  <div class="bh-foot">
    <div class="bh-section">
      <!-- module foot begin -->
      <div id="bh-m-foot">
        <div class="bh-ser-wrapall">
          <div class="bh-ser-wrap">
            <div class="bh-service bh-overf">
              <div class="bh-service-message bh-fr bh-textCt"><span class="bh-red bh-strong">全国客服：400-800-3655</span><br />
                服务时间（9:00-21:00）<br />
                <a href="#" class="bh-mR10">在线咨询</a><a href="#">投诉中心</a></div>
              <div class="bh-fore bh-overf bh-fl">
                <dl class="bh-fore1">
                  <dt><b></b><strong>关于支付</strong></dt>
                  <dd>
                    <div class="bh-item"><a target="_blank" href="/sc/frontpage/help/show.htm?id=71">购物流程</a></div>
                    <div class="bh-item"><a target="_blank" href="/sc/frontpage/help/show.htm?id=72">支付方式</a></div>
                    <div class="bh-item"><a target="_blank" href="/sc/frontpage/help/show.htm?id=73">支付相关问题</a></div>
                  </dd>
                </dl>
                <dl class="bh-fore2">
                  <dt><b></b><strong>关于配送</strong></dt>
                  <dd>
                    <div class="bh-item"><a target="_blank" href="/sc/frontpage/help/show.htm?id=74">配送方式</a></div>
                    <div class="bh-item"><a target="_blank" href="/sc/frontpage/help/show.htm?id=75">配送流程</a></div>
                    <div class="bh-item"><a target="_blank" href="/sc/frontpage/help/show.htm?id=76">全程运输保险</a></div>
                  </dd>
                </dl>
                <dl class="bh-fore3">
                  <dt><b></b><strong>售后服务</strong></dt>
                  <dd>
                    <div class="bh-item"><a target="_blank" href="/sc/frontpage/help/show.htm?id=77">品质保证</a></div>
                    <div class="bh-item"><a target="_blank" href="/sc/frontpage/help/show.htm?id=78">回收条款</a></div>
                    <div class="bh-item"><a target="_blank" href="/sc/frontpage/help/show.htm?id=79">15天退换货承诺</a></div>
                  </dd>
                </dl>
                <dl class="bh-fore4">
                  <dt><b></b><strong>客服中心</strong></dt>
                  <dd>
                    <div class="bh-item"><a target="_blank" href="/sc/frontpage/help/show.htm?id=80">找回密码</a></div>
                    <div class="bh-item"><a target="_blank" href="/sc/frontpage/help/show.htm?id=81">会员制度</a></div>
                    <div class="bh-item"><a target="_blank" href="/sc/frontpage/help/show.htm?id=82">常见热点问题</a></div>
                  </dd>
                </dl>
                <dl class="bh-fore5">
                  <dt><b></b><strong>关于我们</strong></dt>
                  <dd>
                    <div class="bh-item"><a target="_blank" href="/sc/frontpage/help/show.htm?id=83">权威认证</a></div>
                    <div class="bh-item"><a target="_blank" href="/sc/frontpage/help/show.htm?id=84">招聘信息</a></div>
                    <div class="bh-item"><a target="_blank" href="/sc/frontpage/help/show.htm?id=85">联系我们</a></div>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- module foot end -->
    </div>
  </div>
</div>
