<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>3655订单中心-发票管理</title>
<link href="${cssDomain}/css/reset.css" type="text/css" rel="stylesheet"/>
<link href="${cssDomain}/css/common.css" type="text/css" rel="stylesheet"/>
<link href="${cssDomain}/css/page.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="${jsDomain}/js/jquery.js"></script>
<script type="text/javascript" src="${jsDomain}/js/jquery.cookie.js"></script>
</head>
<body id="bh-member-invoice" class="bh-mbody">
<!--head begin-->
#getFrontWindow("moduleName=frontpage.common.CommonFront" "parameters=tag:HEAD,vmpath:frontpage/member/fkhead.vm");
<!--head end-->
<div class="bh-p-content">
  <div class="bh-content">
    <div class="bh-section">
      <div class="bh-bread bh-bigFont"><span class="bh-strong ">我的3655</span>&nbsp;&gt;&nbsp;<span>发票管理</span></div>
    </div>
    <div class="bh-section">
      <div class="bh-sidebar-left">
        #getFrontWindow("moduleName=frontpage.common.CommonFront" "parameters=tag:LEFT,vmpath:frontpage/member/left.vm");
      </div>
      <div class="bh-mLeft bh-container">
        <div class="bh-m-rwrap">
          <div class="bh-order bh-invoice">
            <div class="bh-ztab bh-member-ztab">
              <h1>发票管理</h1>
            </div>
            <div class="bh-zcon bh-mtop5">
              <ul>
                <li class="bh-on"><span>普通发票</span></li>
                <li><span><a href="getInvoiceMemberList.htm?inittag=2">增值税发票</a></span></li>
              </ul>
              <div class="bh-add-invoice bh-posRlt bh-mTop20 bh-mBt20">
	      <form method="post" action="saveMemberInvoice.htm">
	      <table width="829" border="0" cellspacing="0" cellpadding="0" class="bh-table2">
	      <input type="hidden" class="bh-text" name="type" value="1" />
	       <tr>
                  <td width="76" align="right" valign="top"><label>类型：</label></td>
                  <td><input type="radio" name="ptype" value="1" />个人<input type="radio"  name="ptype" value="2"/>单位</td>
                </tr>
                <tr>
                  <td width="76" align="right" valign="top"><label>发票抬头：</label></td>
                  <td><input type="text" class="bh-text" name="content" /><br /><span class="bh-yellow bh-mtop10 bh-show">温馨提示：请不要填写和发票抬头无关的信息，也不要使用“个人”字样。</span></td>
                </tr>
                <tr>
                  <td align="right">发票内容：</td>
                  <td>商品明细（为了保证三包服务的有效性，京创在线仅支付开具商品明细）</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td><input type="submit" class="bh-btn" value=" "/></td>
                </tr>
              </table> 
	      </form>
              </div>
              <div class="bh-invicemessage">
              	<h1 class="bh-bigFont">已创建的发票信息：</h1><span class="bh-red bh-strong">提示：</span>发票信息都将通过系统自动打印到发票上，如因客户填写失误造成的重新开具，快递发票的费用须由客户承担。(最多可保存10个常用开票信息) </span></div>
              <table width="829" border="0" cellspacing="0" cellpadding="0" class="bh-table1">
                <tr>
                  <th width="350">发票抬头</th>
                  <th>发票内容</th>
                  <th width="110">操作</th>
                </tr>
				#foreach($invoice in $invs)
					#if($invoice.type==1)
                <tr class="bh-on">
                  <td>$invoice.content</td>
                  <td>商品明细</td>
                  <td><div class="bh-posRlt"><a href="javascript:void(0);" onclick="displayi($!{invoice.id})" >修改</a>|<a href="delMemberInvoice.htm?id=$invoice.id">删除</a></div></td>
                </tr>
				#end
				#end
              </table>
              <div class="bh-overf bh-mTop20">
                <div class="pagin pagin-m bh-fr">
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bh-clear"></div>
    </div>
    <div class="bh-clear"></div>
  </div>
</div>
<!-- alert -->
#foreach($invoice in $invs)
					#if($invoice.type==1)
<div id="updateinvioce_$!{invoice.id}" class=" bh-tanchu-toushu bh-invoice-look" id="bh-tanchu-look" style="top:400px;left:400px;width:500px; height:200px; position:absolute; z-index:9;display:none;">
                        	<div class="bh-zztab">
                        		<h3>普通发票信息</h3>
                            	<a class="bh-close" href="javascript:void(0);"  onclick="hiddeni($!{invoice.id})"></a>
                        	</div>
				<form  id="forminvioce_$!{invoice.id}" method="post" action="updateMemberInvoice.htm">
                        	<div class="bh-zzcon">
                            	 <input type="hidden" class="bh-text" name="type" value="1" />
				  <input type="hidden" class="bh-text" name="id" value="$!{invoice.id}" />
                        		<dl>
                            		<dt>类型：</dt>
                            		<dd><input type="radio" name="ptype" value="1" #if($!invoice.ptype==1) checked="checked"#end />个人<input type="radio"  name="ptype"  #if($!invoice.ptype==2) checked="checked"#end  value="2"/>单位</dd>
                            	</dl>
                            	<dl>
                            		<dt>名称：</dt>
                            		<dd><input type="text" class="bh-text" name="content"  value="$!{invoice.content}"/></dd>
                            	</dl>
                            	
                                <div class="bh-overf">
				
                                	<a href="javascript:void(0);" onclick="submitInvoice($!{invoice.id})">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="delMemberInvoice.htm?id=$invoice.id">删除</a>
                                </div>
                        	</div>
				</form>
                        </div>
			#end
				#end
				<script>
				function submitInvoice(id){
				 $("#forminvioce_"+id).submit();
				}
				function displayi(id){
				 $("#updateinvioce_"+id).show();
				}
				function hiddeni(id){
				 $("#updateinvioce_"+id).hide();
				}
				</script>
			<!-- alert -->
<!-- foot begin -->
#getFrontWindow("moduleName=frontpage.common.CommonFront" "parameters=tag:FOOT,vmpath:frontpage/member/fkfoot.vm");
<!-- foot end -->
</body>
</html>
