<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码</title>
<link href="${cssDomain}/css/reset.css" type="text/css" rel="stylesheet"/>
<link href="${cssDomain}/css/common.css" type="text/css" rel="stylesheet"/>
<link href="${cssDomain}/css/page.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="${jsDomain}/js/jquery.js"></script>
<script type="text/javascript" src="${jsDomain}/js/jquery.cookie.js"></script>
<script type="text/javascript" src="${jsDomain}/js/member.js"></script>
</head>
<body id="bh-password">
<!--head begin-->
#getFrontWindow("moduleName=frontpage.common.CommonFront" "parameters=tag:HEAD,vmpath:frontpage/member/fkhead.vm")
<!--head end-->
<div class="bh-p-content">
  <div class="bh-content">
    <div class="bh-section">
      <div id="entry">
        <div class="mt">
          <h2 class="bh-bigFont bh-fl">用户登录</h2>
        </div>
        <div class="mc" style="padding-top:30px;">
        	<p class="bh-tishi1">忘记了密码？请输入用户名和注册时填写的邮箱，我们会把重设密码邮件发送到您的邮箱！ </p>
          <form class="bh-password">
            <div class="form">
              <div class="item bh-overf"> <span class="label">用户名：</span>
                <div class="bh-fl">
                  <input type="text" class="text" value="" name="user_name"/>
                  <div class="bh-clear"></div>
                  <label id="loginname_error" class="gray">4-20位字符，可由中文、英文、数字及“_”、“-”组成</label>
                </div>
              </div>
              <div class="item bh-overf"> <span class="label">邮箱：</span>
                <div class="bh-fl">
                  <input type="text" class="text" name="email"/>
                  <div class="bh-clear"></div>
                  <label id="loginpwd_error" class="gray">请输入您注册时填写的邮箱</label>
                </div>
              </div>
              <div class="item  hide " id="o-authcode"> <span class="label">验证码：</span>
                <div class="bh-fl">
                    <input type="text" id="authcode" style="ime-mode:disabled" class="text text-1" name="authcode" tabindex="4"/>
					<label class="img"><img src="authImage" id="authImage" /></label>
                  
                    <label class="ftx23">&nbsp;看不清？<a href="javascript:SC_login.refresh()"  class="flk13">换一张
                    </a></label>
                    <label id="authcode_succeed" class="blank invisible"></label><span class="clr"></span><label id="authcode_error" class="focus">请输入图片中的字符，不区分大小写</label>
                  <div class="bh-clear"></div> <span id="authcode_error"></span> </div>
              </div>
              <div class="item bh-overf">
                    <span class="label"><b class="ftx04">*</b>验证码：</span>
				<div class="bh-fl">
					<input type="text" id="authcode" style="ime-mode:disabled" class="text text-1" name="authcode" tabindex="4"/>
					<label class="img">
                        <img style="cursor:pointer;width:100px;height:26px;" alt=""  onclick="this.src='JDVerification.aspx?a=0&amp;uid=e1eaa897-1427-4d42-bbf0-aa75530d6a65&amp;yys='+new Date().getTime()" ver_colorofnoisepoint="#888888" id="JD_Verification1" src="../../images/yzm.gif"> </label>
					<label class="ftx23">&nbsp;看不清？<a href="javascript:void(0)" onclick="verc()" class="flk13">换一张
                    </a></label>
					<label id="authcode_succeed" class="blank invisible"></label><div class="bh-clear"></div><label id="authcode_error" class="focus gray">请输入图片中的字符，不区分大小写</label>
				</div>
			</div>
              <div class="item bh-overf"> <span class="label">&nbsp;</span>
                <input type="button" class="btn-img btn-entry" id="loginsubmit" value="完成" tabindex="8"/>
              </div>
            </div>
          </form>
          <div class="bh-clear"></div> </div>
      </div>
    </div>
  </div>
</div>
<!-- foot begin -->
#getFrontWindow("moduleName=frontpage.common.CommonFront" "parameters=tag:FOOT,vmpath:frontpage/member/fkfoot.vm")
<!-- foot end -->
</body>
<script type="text/javascript">

   function getpp(){
	    $.ajax({
    			url: "getPwd.htm",
    			type: 'GET',
    			data:$('.bh-password').serialize(),
    			dataType: 'html',
    			success: function(data){
				   alert(data);
				   if(data.success){
				       alert("密码已发到你的邮箱!")
				   }else{
				       alert("用户名或邮箱不对!")
				   }
                
    		      }
		  
	   });
	}
    $(function(){
	    $("#loginsubmit").click(function(){
		      getpp();
		})
	})
	
	
</script>
</html>
