<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人会员注册</title>
<link href="${cssDomain}/css/reset.css" type="text/css" rel="stylesheet"/>
<link href="${cssDomain}/css/common.css" type="text/css" rel="stylesheet"/>
<link href="${cssDomain}/css/page.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="${jsDomain}/js/jquery.js"></script>
<script type="text/javascript" src="${jsDomain}/js/member.js"></script>
<script type="text/javascript" src="${jsDomain}/js/jquery.cookie.js"></script>
<script src="${jsDomain}/js/ChinaCity.js" type='text/javascript'></script>
<script src="${jsDomain}/js/ChinaProvince.js" type='text/javascript'></script>
<script src="${jsDomain}/js/ChinaTown.js" type='text/javascript'></script>
<script src="${jsDomain}/js/jquery.selectboxes.js" type='text/javascript'></script>
<script type="text/javascript" src="${jsDomain}/js/com.js"></script>
<script src="${jsDomain}/js/validate.js" type='text/javascript'></script>
</head>
<body class="bh-mb-member">
#getFrontWindow("moduleName=frontpage.common.CommonFront" "parameters=tag:HEAD,vmpath:frontpage/member/head.vm");
<div class="bh-p-content">
  <div class="bh-content">
    <div class="bh-section">
      <div id="regist">
        <div class="mt bh-overf">
          <h2 class="bh-bigFont bh-fl"> 注册新用户</h2>
          <b></b><span class="bh-bigFont" style="padding-right:35px;">我已经注册，现在就&nbsp;<a href="${scpath}/mlogin.htm" class="flk13">登录</a></span> </div>
        <div class="mc bh-overf">
          <ul class="tab">
            <li class="curr">个人用户</li>
            <li class="line"><a href="ereg.htm">企业用户</a></li>
          </ul>
          <div class="bh-zcon">
          <div class="bh-message bh-person bh-overf">
          	<h1 class="bh-textCt bh-mBt20"><img src="${imageDomain}/images/bg_welcome_person.gif" width="240" height="27" /></h1>
            <div class="bh-sidebar315 bh-fl" style="border-right:1px dotted #d7d7d7;">
            	<h2 class="bh-bigFont">如果您有购买需求，可享受以下特权。</h2>
                <ul>
                	<li>1、享受商城品质，正品保障，满50元免运费。</li>
                    <li>2、降低采购成本，节约幅度约为10%~30%左右。</li>
                    <li>3、缩短采购周期，使采购过程简洁、迅速、高效。</li>
                    <li>4、节省采购时间，最快19分钟完成一笔采购任务。</li>
                    <li>5、拓宽选购范围，从“货比三家”到“货比全国”。</li>
                    <li>6、在线竞价采购，阳光、透明、促进市场公平竞争。</li>
                </ul>
            </div>
            <div class="bh-sidebar315 bh-fr">
            	<h2 class="bh-bigFont">如果您有销售需求，请注册&nbsp;<a href="#" class="flk13">企业用户</a></h2>
                <ul>
                	<li>1、获取订单零成本，免费订阅众多采购商机。</li>
                    <li>2、在线竞价风险小，商家“背靠背”匿名出价。</li>
                    <li>3、快速添加商品线，5分钟上架商品，坐等订单。</li>
                    <li>4、加快资金周转率，最快19分钟交付、实现零库存。</li>
                    <li>5、主动报价促销量，增强宣传效果、提高成交机会。</li>
                    <li>6、诚信经营重信誉，踏踏实实出价，老老实实获单。</li>
                </ul>
            </div>
          </div>
          <form id="formpersonal" action="saveReg.htm" method="POST" >
            <div class="form">
            	<div class="bh-wrap"><h2 class="bh-tit bh-bigFont bh-mBt10">账户信息</h2>
              <div class="item bh-overf"> <span class="label"><b class="ftx04">*</b>用户名：</span>
                <div class="bh-fl">
                  <input type="text" id="login_count" name="login_count"  class="text notnull" max="30" tabindex="1"/>
                  <label id="username_succeed" class="blank"></label>
                  <span class="clr"></span>
                  <div id="login_count_error"></div>
                </div>
              </div>
              <div id="o-password">
                <div class="item bh-overf">
                    <span class="label"><b class="ftx04">*</b>设置密码：</span>
                  <div class="bh-fl">
                    <input type="password" id="pwd" name="pwd" class="text notnull" min="6" max="20" tabindex="2"/>
                    <input type="text" id="pwd3" name="pwd3" class="text" style="display: none;" tabindex="2"/>
                    <label id="pwd_succeed" class="blank"></label>
                    <input type="checkbox" class="checkbox" id="viewpwd" onclick="istypePwd()"/>
                    <label class="ftx23" for="viewpwd">显示密码字符</label>
                    <span class="clr"></span>
                    <label class=" bh-hidden" id="pwdstrength"><span class="bh-fl">安全程度：</span><b></b></label>
                    <label id="pwd_error"></label>
                  </div>
                </div>
                <div class="item bh-overf">
                    <span class="label"><b class="ftx04">*</b>确认密码：</span>
                  <div class="bh-fl">
                    <input type="password" id="pwd2" name="pwd2" class="text notnull" tabindex="3"/>
                    <label id="pwd2_succeed" class="blank"></label>
                    <span class="clr"></span>
                    <label id="pwd2_error"></label>
                  </div>
                </div>
              </div>
              <div class="item bh-overf">
                    <span class="label"><b class="ftx04">*</b>邮箱：</span>
                <div class="bh-fl">
                  <input type="text" id="email" name="email" class="text notnull" max="250" tabindex="4"/>
                  <label id="email_succeed" class="blank"></label>
                  <label class="ftx23">免费邮箱：</label>
                  <a target="_blank"
                                                     href="http://login.mail.sohu.com/rapidReg/cooregister.jsp"
                                                     class="flk13">搜狐</a> <a target="_blank"
                                                                             href="http://reg.email.163.com/mailregAll/reg0.jsp"
                                                                             class="flk13">网易</a> <span class="clr"></span>
                  <div id="email_error"></div>
                </div>
              </div>
              
              </div>
              <div class="bh-wrap" style="background:url(${imageDomain}/images/bg-line.gif) center  top no-repeat;">
              	<h2 class="bh-tit bh-bigFont bh-mBt10 bh-padT10">联系人信息</h2>
                <div class="item bh-overf"> <span class="label">联系人姓名：</span>
                <div class="bh-fl">
                  <input type="text" id="user_name" name="user_name" class="text" min="2" max="20"/>
                  <label id="user_name_succeed1" class="blank"></label>
                  <span class="clr"></span>
                  <div id="user_name_error"></div>
                </div>
              </div>
              <div class="item bh-overf"> <span class="label">固定电话：</span>
                <div class="bh-fl">
                  <input type="text" class="text length" name="telephone" max="50" id="telephone"/>
                  <label class="blank"></label>
                  <span class="clr"></span>
                  <div id="telephone_error"></div>
                </div>
              </div>
              <div class="item bh-overf"> <span class="label">手机：</span>
                <div class="bh-fl">
                  <input type="text" class="text" name="mobile" id="mobile" min="11" max="11" />
                  <label class="blank"></label>
                  <span class="clr"></span>
                  <div id="mobile_error"></div>
                </div>
              </div>
              <div class="item bh-overf">
            <span class="label">推荐ID：</span>

            <div class="bh-fl">
                <input type="text" id="tjid" name="tjid" class="text" max="10" value="122" tabindex="5"/>
                <label id="referrer_succeed" class="blank invisible"></label>
                <span class="clr"></span>
                <label id="tjid_error"></label>

            </div>
        </div>
        <div class="item bh-overf">
				<span class="label"><b class="ftx04"></b>您的所在地：</span>
				<div class="bh-fl">
				    <span class="bh-fl">
					<select name="province_id" class="auto mar" id="s_province">
					</select>
                    </span>
		     <span class="bh-fl">
		                <select name="city_id" class="auto mar" id="s_city">
					</select>
			</span>
			<span class="bh-fl">
			             <select name="town_id" class="auto mar" id="town_id">
					</select>
			</span>
					<input id="hncompanyarea" type="hidden" value="-1"/> 
                    <input id="hprov" type="hidden"/>
					<label id="hncompanyarea_succeed" class="blank"></label>
					<span class="clr"></span>
					<label id="hncompanyarea_error" class="focus"></label>
				</div>
			</div>
            <div class="item bh-overf">
				<span class="label"><b class="ftx04"></b>地址：</span>
				<div class="bh-fl">
					<input type="text" id="detail_address" name="detail_address" class="text" max="300" tabindex="12"/>
					<label id="detail_address_succeed" class="blank"></label>
					<span class="clr"></span>
					<label id="detail_address_error"></label>
				</div>
			</div>
            <div class="item bh-overf">
                    <span class="label"><b class="ftx04">*</b>验证码：</span>
				<div class="bh-fl">
					<input type="text" id="authcode" style="ime-mode:disabled" class="text text-1 notnull" name="authcode" tabindex="4"/>
					<label class="img">
                       <img src="authImage" id="authImage" />
		       </label>
					<label class="ftx23">&nbsp;看不清？<a href="javascript:refresh()"  class="flk13">换一张
                    </a></label>
					<label id="authcode_succeed" class="blank invisible"></label><span class="clr"></span><label id="authcode_error"></label>
				</div>
			</div>
                <div class="item bh-overf">
                    <span class="label">&nbsp;</span>
                <input type="button" onclick="SC_login.checkpreg()" class="btn-img btn-regist" id="registsubmit" value="同意以下协议，提交" tabindex="8"/>
              </div>
              </div>
            </div>
          </form>
          <!--[if !ie]>form end<![endif]-->
          <div id="protocol-con">
            <!--注册协议-->$!regXy</div>
          </div>
        </div>
        <!--[if !ie]>mc end<![endif]-->
      </div>
      <!--[if !ie]>regist end<![endif]-->
    </div>
  </div>
</div>
<SCRIPT LANGUAGE="JavaScript">
function update(id,status){
	$.ajax({
			url: 'updateUserStatus.htm',
			type: 'GET',
			data: 'id='+id+"&status="+status,
			dataType: 'json',
			timeout: 10000,
			success: function(data){
			if(data.tag==1){
			if(status==1)
			$("#user_"+id).html("已激活");
			if(status==2)
			$("#user_"+id).html("已禁用");
			}
			}
		});
	}
	initcity(0,0);
</SCRIPT>
#getFrontWindow("moduleName=frontpage.common.CommonFront" "parameters=tag:FOOT,vmpath:frontpage/member/foot.vm");
</body>
</html>
