<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>帮助中心</title>
<link href="${cssDomain}/css/reset.css" type="text/css" rel="stylesheet"/>
<link href="${cssDomain}/css/common.css" type="text/css" rel="stylesheet"/>
<link href="${cssDomain}/css/page.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="${jsDomain}/js/jquery.js"></script>
<script type="text/javascript" src="${jsDomain}/js/cart.js"></script>
</head>
<body id="bh-help-list" class="bh-mbody">
<!--head begin-->
#getFrontWindow("moduleName=frontpage.common.CommonFront" "parameters=tag:HEAD,vmpath:frontpage/member/fkhead.vm")
<!--head end-->
<div class="bh-p-content">
  <div class="bh-content">
    <div class="bh-section">
      <div class="bh-bread bh-bigFont"><a href="#">首页</a>&nbsp;&gt;&nbsp;<a href="#">新手上路</a>&nbsp;&gt;&nbsp;<span>帮助中心</span></div>
    </div>
    <div class="bh-section">
      <div class="bh-sidebar-left bh-help-sidebar-left">
         #getFrontWindow("moduleName=frontpage.common.CommonFront" "parameters=tag:HELP,vmpath:frontpage/helpcategory.vm")
      </div>
      <div class="bh-mLeft bh-container bh-help-mLeft">
        <div class="bh-help-list">
          <div class="bh-ztab bh-help-tab">
            <h3>$category.title</h3>
          </div>
          <div class="bh-help-zcon">
            <ul>
              #foreach($help in $helpList)
              <li><a href="/sc/frontpage/help/show.htm?id=$help.id">$help.title</a></li>
			  #end
            </ul>
            <br /><br /><br /><br /><br />
			
            <div class="bh-overf bh-mTop20">
              #getPageHtml("formId=newsFormm" "parameters=pageNo:$page.pageNo,pageSize:$page.pageSize,totalCount:$page.totalCount,pageviewcount:$page.pageviewcount,vmpath:common/pagem.vm");
            </div>
            <div class="bh-subSection bh-overf bh-mTop20">
              <div class="bh-fr">&gt;&gt;<a href="#logo">返回顶部</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bh-clear"></div>
  </div>
</div>
<!-- foot begin -->
#getFrontWindow("moduleName=frontpage.common.CommonFront" "parameters=tag:FOOT,vmpath:frontpage/member/fkfoot.vm")
<!-- foot end -->
<script type="text/javascript" >
$("#bh-pd-menuanchor").mouseover(function(){
$("#bh-pd-menudiv").show();
});

$("#bh-pd-menuanchor").mouseout(function(){
$("#bh-pd-menudiv").hide();
});
</script>
</body>
</html>
