<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>用户组编辑</title>
    <link href="${cssDomain}/admin.css" rel="stylesheet">
	<link href="${cssDomain}/art.css" rel="stylesheet">
	<link href="${cssDomain}/default.css" rel="stylesheet">
	<link href="${cssDomain}/style.css" rel="stylesheet">
	<script type="text/javascript" src="${jsDomain}/jquery.js"></script>
    <script >
    $(function(){
        var text = "${role.rights}";
    	var rigths = text.split(",");
    	for(var i = 0; i < rigths.length ;i++){
    	     $("#checkbox_"+rigths[i]).attr("checked" ,true);
    	}
    });
    </script>

  </head>

  <body>
  #qModuleLoader("moduleName=module.admin.common.head" "parameters={path:template/admin/head.vm,level1:1,level2:7}")

  <div class="container">

	<div id="admin_right">
	   <div class="headbar">
	     <div class="position"><span>系统</span><span>></span><span>权限管理</span><span>></span><span>添加用户组</span></div>
       </div>
      <div class="content_box">
	    <div class="content form_content">
		<form action="saveRole" method="post" name="role_edit">
			<input type='hidden' name='id' />
			<table class="form_table">
				<col width="150px" />
				<col />
				<tr>
					<th>名称：</th>
					<td><input type='text' class='normal' name='name' value="$!role.name"  /><label>* 用户组名</label></td>
				     <input type='hidden'  name='id' value="$!role.id" />
				</tr>
				<tr>
					<th valign="top">权限分配：</th>
					<td>
					#foreach($menu in $menus)
						<div style='clear:both;padding-top:10px' class='bold'>
							$menu.name
							<label>
							<input type='checkbox' id='checkbox_$menu.id' name="rights" value="$menu.id"/>
							</label>
						</div>
						<ul class='attr_list' id='ul_$menu.id' alt="$menu.id">
							#foreach($child in $menu.childrens)
							 <li style="float: left;white-space: nowrap;width: 220px;">
								<label class='attr'>$child.name</label>
							 </li>
							#end
						</ul>

					#end
					</td>
				</tr>
				<tr><td></td>
					<td><button class="submit" type='submit'><span>保存</span></button></td>
				</tr>
			</table>
		</form>
	   </div>
      </div>
  </div>


	</div>

  </div>


  #qModuleLoader("moduleName=module.admin.common.foot" "parameters={path:template/admin/foot.vm}");
  </body>
</html>
