<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>图片设置</title>
    <link href="${cssDomain}/admin.css" rel="stylesheet">
	<link href="${cssDomain}/art.css" rel="stylesheet">
	<link href="${cssDomain}/default.css" rel="stylesheet">
	<link href="${cssDomain}/style.css" rel="stylesheet">
	<script src="${jsDomain}/jquery.js" type="text/javascript"></script>
	<script src="${jsDomain}/b2c.ajax.js" type="text/javascript"></script>
    
    <script type="text/javascript">
	       $(function() {
		      $.b2c.ajaxSubmit($(".form"),"/$ctx/saveImageSetting", function(){
			     alert("保存成功");
			  })
		   })
	</script>
  </head>

  <body>
  #qModuleLoader("moduleName=module.admin.common.head" "parameters={path:template/admin/head.vm,level1:1,level2:8}")
    <div id="admin_right">
		<div class="headbar">
			<ul name="conf_menu" class="tab">
				<li class="selected"><a href="javascript:select_tab('image_conf');">图片设置</a></li>
			</ul>
		</div>
		<div class="content_box">

			<div class="content form_content">
				<form class="form" id="img_set" name="image_conf" enctype="multipart/form-data" style="display: block;" novalidate="true">
					<input type='hidden'  name='id' value="$!mallSetting.id" />
					<table class="form_table">
						<colgroup><col width="150px">
						<col>
						</colgroup>
						#if($imageSet)
						<tbody>
							<tr>
								<th>大图：</th>
								<td>
									宽：<input type="text" alt="请填写一个数字" pattern="int" name="img_1_w" class="small" value="$!{imageSet.img1.width}">
									高：<input type="text" alt="请填写一个数字" pattern="int" name="img_1_h" class="small" value="$!{imageSet.img1.height}">
								</td>
							</tr>
							<tr>
								<th>商品页主图：</th>
								<td>
									宽：<input type="text" alt="请填写一个数字" pattern="int" name="img_2_w" class="small" value="$!{imageSet.img2.width}">
									高：<input type="text" alt="请填写一个数字" pattern="int" name="img_2_h" class="small" value="$!{imageSet.img2.height}">
								</td>
							</tr>
							<tr>
								<th>商品页小预览图：</th>
								<td>
									宽：<input type="text" alt="请填写一个数字" pattern="int" name="img_3_w" class="small" value="$!{imageSet.img3.width}">
									高：<input type="text" alt="请填写一个数字" pattern="int" name="img_3_h" class="small" value="$!{imageSet.img3.height}">
								</td>
							</tr>
							<tr>
								<th>商品列表图：</th>
								<td>
									宽：<input type="text" alt="请填写一个数字" pattern="int" name="img_4_w" class="small" value="$!{imageSet.img4.width}">
									高：<input type="text" alt="请填写一个数字" pattern="int" name="img_4_h" class="small" value="$!{imageSet.img4.height}">
								</td>
							</tr>
							<tr>
								<th>商品页关联商品图：</th>
								<td>
									宽：<input type="text" alt="请填写一个数字" pattern="int" name="img_5_w" class="small" value="$!{imageSet.img5.width}">
									高：<input type="text" alt="请填写一个数字" pattern="int" name="img_5_h" class="small" value="$!{imageSet.img5.height}">
								</td>
							</tr>
							<tr>
								<th></th>
								<td>
									<button id="bh-save" type="submit" class="submit"><span>保存图片设置</span></button>
								</td>
							</tr>
						</tbody>
						#else
						<tbody>
							<tr>
								<th>大图：</th>
								<td>
									宽：<input type="text" alt="请填写一个数字" pattern="int" name="img_1_w" class="small" value="940">
									高：<input type="text" alt="请填写一个数字" pattern="int" name="img_1_h" class="small" value="940">
								</td>
							</tr>
							<tr>
								<th>商品页主图：</th>
								<td>
									宽：<input type="text" alt="请填写一个数字" pattern="int" name="img_2_w" class="small" value="470">
									高：<input type="text" alt="请填写一个数字" pattern="int" name="img_2_h" class="small" value="470">
								</td>
							</tr>
							<tr>
								<th>商品页小预览图：</th>
								<td>
									宽：<input type="text" alt="请填写一个数字" pattern="int" name="img_3_w" class="small" value="30">
									高：<input type="text" alt="请填写一个数字" pattern="int" name="img_3_h" class="small" value="30">
								</td>
							</tr>
							<tr>
								<th>商品列表图：</th>
								<td>
									宽：<input type="text" alt="请填写一个数字" pattern="int" name="img_4_w" class="small" value="160">
									高：<input type="text" alt="请填写一个数字" pattern="int" name="img_4_h" class="small" value="160">
								</td>
							</tr>
							<tr>
								<th>商品页关联商品图：</th>
								<td>
									宽：<input type="text" alt="请填写一个数字" pattern="int" name="img_5_w" class="small" value="100">
									高：<input type="text" alt="请填写一个数字" pattern="int" name="img_5_h" class="small" value="100">
								</td>
							</tr>
							<tr>
								<th>&nbsp;</th>
								<td>
									<button id="bh-save" class="submit" type="submit" ><span>保存图片设置</span></button>
								</td>
							</tr>
						</tbody>
						#end
					</table>
				</form>
			</div>
		</div>
	</div>

	#qModuleLoader("moduleName=module.admin.common.foot" "parameters={path:template/admin/foot.vm}")

  </body>
</html>
