<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>配送设置</title>
    <link href="${cssDomain}/admin.css" rel="stylesheet">
    <link href="${cssDomain}/art.css" rel="stylesheet">
	<link href="${cssDomain}/default.css" rel="stylesheet">
	<link href="${cssDomain}/style.css" rel="stylesheet">
    <script src="${jsDomain}/jquery.js" type="text/javascript"></script>
	<script src="${jsDomain}/b2c.ajax.js" type="text/javascript"></script>
    <script type="text/javascript">
	       $(function() {
		      $.b2c.ajaxSubmit($(".form"),"/$ctx/saveShipSetting", function(){
			     alert("保存成功");
			  })
		   })
	</script>
  </head>
  <body>
  #qModuleLoader("moduleName=module.admin.common.head" "parameters={path:template/admin/head.vm,level1:1,level2:8}")
    <div id="admin_right">
    	<div class="headbar clearfix">
        	<ul name="menu1" class="tab">
        		<li class="selected" id="li_1"><a hidefocus="true">配送设置</a></li>
        	</ul>
        </div>

        <form class="form" method="post" name="ModelForm" novalidate="true">
        <input type='hidden'  name='id' value="$!mallSetting.id" />
		<div class="content_box">
        	<div class="content form_content" style="background:repeat;">
        		<table name="table" class="form_table" id="tab-1" style="display: table;">
        			<colgroup>
        			<col>
        			</colgroup>
					<tbody>
        			<tr>
        				<td><span>配送设置</span></td>
        			</tr>

					<tr>
        				<td>
        					<table width="90%" class="border_table">
        						<tbody >

									<tr>
										<td>
                                            <table>
												<tr>
                                                    <th>配送方式</th>
													<th>默认运费</th>
												</tr>
												<tr>
                                                    <td>快递</td>
													<td><input type="text" value="$!ship.fastPost" name="fastPost" />元</td>
												</tr>
												<tr>
                                                    <td>平邮</td>
													<td><input type="text" value="$!ship.slowPost" name="slowPost" />元</td>
												</tr>
												<tr>
                                                    <td>EMS</td>
													<td><input type="text" value="$!ship.ems" name="ems" />元</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td>
											<button type="submit" class="submit"><span>保存</span></button>
										</td>
									</tr>
								</tbody>
        					</table>
        				</td>
        			</tr>
        		</tbody>
				</table>
        	</div>
        </div>
        </form>
	</div>
	<script>
		$(function(){
			$(".sc-head").toggle(function(){
				$(this).siblings().show("slow");
			},function(){
				$(this).siblings().hide("slow");
			});
		});
	</script>
	#qModuleLoader("moduleName=module.admin.common.foot" "parameters={path:template/admin/foot.vm}")
  </body>
</html>
