<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>网站设置</title>
    <link href="css/admin.css" rel="stylesheet">
    <link href="css/art.css" rel="stylesheet">
    <link href="css/default.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="js/jquery.js" type="text/javascript"></script>
    <script type="text/javascript"></script>
  </head>
  
  <body>
  #getMothodSc("moduleName=admin.action.Common" "parameters=tag:1,vmpath:admin/head.vm,level:1,level2:11")
  <div id="admin_right">
	<div class="headbar">
		<ul name="conf_menu" class="tab">
			<li class="selected"><a href="javascript:select_tab('base_conf');">基本设置</a></li>
			##<li class=""><a href="javascript:select_tab('shopping_conf');">购物设置</a></li>
			##<li class=""><a href="javascript:select_tab('show_conf');">显示设置</a></li>
			##<li class=""><a href="javascript:select_tab('system_conf');">系统设置</a></li>
		</ul>
	</div>
	<div class="content_box">
		<div class="content form_content">
			<form name="base_conf" enctype="multipart/form-data" method="post" action="updateBaseInfo.htm" style="display: block;" novalidate="true">
				<!--基本设置!-->
				<table class="form_table">
					<colgroup><col width="150px">
					<col>
					</colgroup>
					<tbody>
					<tr>
						<th>商店名称：</th>
						<td><input type="text" alt="商店名称必须填写" pattern="required" name="sc.sc_name" class="normal" value="$!{sc.sc_name}"><label>* 网店名称</label></td>
					</tr>
					<tr>
						<th>商店网址：</th>
						<td>
							<input type="text" alt="商店网址必须填写" pattern="url" name="sc.sc_url" class="normal" value="$!{sc.sc_url}">
							<label>* 网站完整的URL访问地址</label>
						</td>
					</tr>
<!--
					<tr>
						<th>商店logo：</th>
						<td>
							<div style="height:53px;overflow:hidden;">
								<img height="50" onload="if(this.height&gt;50)this.height=50" src="image/logo2.jpg">
							</div>
							<input type="file" name="sc.sc_logo" class="normal" value="$!{sc.sc_logo}"><label>直接从本地上传图片覆盖原有的网站logo</label>
						</td>
					</tr>
-->
					<tr>
						<th>联系人：</th>
						<td><input type="text" name="sc.sc_master" class="normal" value="$!{sc.sc_master}"></td>
					</tr>
					<tr>
						<th>QQ：</th>
						<td><input type="text" alt="请填写正确的QQ号" empty="" name="sc.qq" pattern="qq" class="normal" value="$!{sc.qq}"></td>
					</tr>
					<tr>
						<th>Email：</th>
						<td><input type="text" alt="请填写正确的email地址" empty="" name="sc.email" pattern="email" class="normal" value="$!{sc.email}"></td>
					</tr>
					<tr>
						<th>手机：</th>
						<td><input type="text" alt="请填写正确的手机号码" empty="" name="sc.mobile" pattern="mobi" class="normal" value="$!{sc.mobile}"></td>
					</tr>
					<tr>
						<th>固定电话：</th>
						<td><input type="text" alt="请填写正确的固定电话" empty="" name="sc.phone" pattern="phone" class="normal" value="$!{sc.phone}"></td>
					</tr>
					<tr>
						<th>具体地址：</th>
						<td><input type="text" alt="商店名称必须填写" empty="" name="sc.address" pattern="required" class="normal" value="$!{sc.address}"></td>
					</tr>
					<tr>
						<th>商品货号前缀：</th>
						<td><input type="text" alt="商品货号前缀" empty="" name="sc.goods_no_pre" pattern="required" class="normal" value="$!{sc.goods_no_pre}"><label>只取前两位</label></td>
					</tr>
					<tr>
						<th>首页keywords：</th>
						<td><input type="text" alt="首页keywords" empty="" name="sc.index_seo_keywords" pattern="required" class="normal" value="$!{sc.index_seo_keywords}"></td>
					</tr>
					<tr>
						<th>首页description：</th>
						<td><input type="text" alt="首页description" empty="" name="sc.index_seo_description" pattern="required" class="normal" value="$!{sc.index_seo_description}"></td>
					</tr>
					<tr>
						<th></th>
						<td>
							<button type="submit" class="submit"><span>保存基本设置</span></button>
						</td>
					</tr>
				</tbody></table>
			</form>
			<form name="shopping_conf" method="post" action="#" style="display: none;" novalidate="true">
				<!--购物设置!-->
				<table class="form_table">
					<colgroup><col width="150px">
					<col>
					</colgroup><tbody><tr>
						<th>税率：</th>
						<td><input type="text" alt="请输入正确的整数或者浮点数" pattern="float" empty="" class="small" name="tax">%</td>
					</tr>
					<tr>
						<th>默认备货时间：</th>
						<td><input type="text" alt="请填写整数" pattern="int" name="stockup_time" class="small">天 <label>* 订单确认后需要备货的时间</label></td>
					</tr>
					<tr>
						<th>团购过期时间：</th>
						<td><input type="text" alt="请填写整数" pattern="int" name="regiment_time_limit" class="small">分钟 <label>* 报名参加团购后多长时间不付款则视为过期，默认为60分钟</label></td>
					</tr>
					<tr>
						<th></th>
						<td>
							<button type="submit" class="submit"><span>保存购物配置</span></button>
						</td>
					</tr>
				</tbody></table>
			</form>
			<form name="show_conf" method="post" action="" style="display: none;" novalidate="true">
				<!--显示设置!-->
				<table class="form_table">
					<colgroup><col width="150px">
					<col>
					</colgroup><tbody><tr>
						<th>默认的排序依据：</th>
						<td>
							<select class="normal" name="order_by">
								<option selected="selected" value="new">上架时间</option>
								<option selected="selected" value="price">价格</option>
								<option value="sale">销量</option>
								<option value="cpoint">评分</option>
							</select>
							<label>* 在商品列表页中商品的排序依据条件</label>
						</td>
					</tr>
					<tr>
						<th>默认的排序方式：</th>
						<td>
							<select class="normal" name="order_type">
								<option value="desc">降序</option>
								<option value="asc">升序</option>
							</select>
							<label>* 在商品列表页中商品的排序方式</label>
						</td>
					</tr>
					<tr>
						<th>列表默认展示方式：</th>
						<td>
							<select class="normal" name="list_type">
								<option selected="selected" value="list">普通列表</option>
								<option value="win">橱窗形式</option>
							</select>
							<label>* 在商品列表页中商品的展示样式</label>
						</td>
					</tr>
					<tr>
						<th>列表展示商品数量：</th>
						<td><input type="text" pattern="int" name="list_num" class="small"><label>* 在商品列表页中商品的展示数量</label></td>
					</tr>
					<tr>
						<th>智能提示开启的字符数：</th>
						<td>
							<input type="text" empty="" alt="请填写整数" pattern="int" name="auto_finish" class="small">
							<label>当输入若干个字符后，会出现智能提示信息</label>
						</td>
					</tr>
					<tr>
						<th></th>
						<td>
							<button onclick="" type="submit" class="submit"><span>保存显示设置</span></button>
						</td>
					</tr>
				</tbody></table>
			</form>
			<form name="system_conf" method="post" action="" style="display: none;" novalidate="true">
				<!--系统设置!-->
				<table class="form_table">
					<colgroup><col width="150px">
					<col>
					</colgroup><tbody><tr>
						<th>清理模板缓存：</th>
						<td>
							<button onclick="clearCache();" type="button" class="btn"><span>开始清理</span></button>
							<label>清理系统编译生成的模板缓存文件</label>
						</td>
					</tr>
	
					<tr>
						<th>私密信息存储策略：</th>
						<td>
							<select alt="请选择一种语言" pattern="required" class="normal" name="safe">
								<option value="cookie">COOKIE方案(存放于客户端)</option>
								<option value="session">SESSION方案(存放于服务器端)</option>
							</select>
							<label>注意：修改此设置后，用户会被强制退出。默认：COOKIE方案</label>
						</td>
					</tr>
	
					<tr>
						<th>私密信息防窃取级别：</th>
						<td>
							<select alt="请选择一种级别" pattern="required" class="normal" name="safeLevel">
								<option value="none">低(不进行校验)</option>
								<option selected="selected" value="normal">中(校验IP地址的一致性)</option>
								<option value="advance">高(校验IP地址和用户浏览器一致性)</option>
							</select>
							<label>可以有效的防止cookie和session的窃取。注意：当修改了此设置，用户会被强制退出，浏览器需要清空缓存。默认：中</label>
						</td>
					</tr>
	
					<tr>
						<th>设置语言包：</th>
						<td>
													<select alt="请选择一种语言" pattern="required" name="lang" class="normal">
															<option value="zh_sc">中文(简体)</option>
														</select>
							<label>切换整站语言</label>
						</td>
					</tr>
	
					<tr>
						<th>伪静态：</th>
						<td>
							<label class="attr"><input type="radio" value="pathinfo" name="rewriteRule">开启</label>
							<label class="attr"><input type="radio" value="url" name="rewriteRule">关闭</label>
							<label>开启伪静态前请先确保你的服务器环境支持伪静态规则，如果开启后出现问题，则需手动修改config/config.php中的url参数，设定为：url</label>
						</td>
					</tr>
					<tr>
						<th></th>
						#include("test.vm")
						<td><button type="submit" class="submit"><span>保存系统设置</span></button></td>
					</tr>
				</tbody></table>
			</form>
		</div>
	</div>
  </div>
  <script type="text/javascript">
  	function select_tab(indexVal)
	{
		//设置默认值
		if(indexVal == '')
		{
			indexVal = 'base_conf';
		}

		var formObj  = $('form[name="'+indexVal+'"]');
		var li_index = $('form').index(formObj);
		
		//切换form
		$('form').hide();
		if(li_index == -1) {
			$("form[name='base_conf']").show();
		} else {		
			$('form:eq('+li_index+')').show();
		}

		//切换li
		$('ul[name="conf_menu"] li').attr('class','');
		$('ul[name="conf_menu"] li:eq('+li_index+')').attr('class','selected');
	}
  </script>
  #getMothodSc("moduleName=admin.action.Common" "parameters=tag:2,vmpath:admin/foot.vm");
  </body>
</html>
