<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>添加邮件任务</title>
    <link href="css/admin.css" rel="stylesheet">
    <link href="css/art.css" rel="stylesheet">
	<link href="css/default.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
    <script src="js/jquery.js" type="text/javascript"></script>
	<script type="text/javascript" src="fckeditor/fckeditor.js"></script>
	<script language="javascript" src="DatePicker/WdatePicker.js" type="text/javascript"></script>
    <script >
	
	   $(function(){
	        $("input[name=send]:eq(0)").click(function() {
                $("#planDiv").hide();
                });
				
            $("input[name=send]:eq(1)").click(function() {
                $("#planDiv").show();
                }); 
	   })
    </script>
  </head>
  <body>
	#getMothodSc("moduleName=admin.action.Common" "parameters=tag:1,vmpath:admin/head.vm,level:2,level2:36")
    <div id="admin_right">
		<div class="headbar">
			<div class="position"><span>内容管理</span><span>&gt;</span><span>邮件模板</span><span>&gt;</span><span>发送邮件</span></div>
			<div class="operating">
				<a href="mailTaskList.htm"><button type="button" class="operating_btn"><span class="send">返回列表页</span></button></a>
			</div>
		</div>
		<div class="content" id="filter">
			<div class="aui_dialog art_no_border art_opacity art_focus  " id="filterdialog">
				<table class="aui_content_table">
					<tbody>
						
						<tr>
							<td class="aui_td_content" id="filtertd_content">
								<div class="aui_content_wrap">
									<div class="aui_content" id="filtercontent">
										<div class="pop_win clearfix">
											<form method="post" action="saveMailTask.htm" name="form_filter">
												<table class="form_table">
													<colgroup>
														<col>
														<col>
														<col>
													</colgroup>
													<tbody>
														<tr>
															<td class="t_r">标题：</td>
															<td colspan="2">
																<input type="text" name="title" class="middle">
															</td>
														</tr>
														
														<tr>
															<td valign="top" class="t_r">计划发送时间：</td>
															<td colspan="2">
																<input type="radio" name="send" value="0">
																<label style="margin-left: 5px;margin-right: 5px;cursor: pointer;">立即发放</label>
																<input type="radio" name="send" value="1">
																<label style="margin-left: 5px;margin-right: 5px;cursor: pointer;">指定时间</label>
																<input style="display:none;"type="text" value="" onfocus="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss',skin:'blue',maxDate:'%y-%M-%d'})" name="send_time" id="planDiv" class="small"/>	
															</td>
														</tr>
														<tr>
															<td valign="top" class="t_r">会员组：</td>
															<td colspan="2">
																<select name="receive_group" >
                                                                <option value="-1">全部</option>
                                                                <option value="1">普通会员1</option>
                                                                <option value="2">银牌会员</option>
                                                                <option value="3">金牌会员</option>
                                                                <option value="4">合金会员</option>
                                                                <option value="5">白金会员</option>
                                                                <option value="6">222</option>
                                                                </select>
															</td>
														</tr>
														<tr>
															<td valign="top" class="t_r">内容：</td>
															<td colspan="2">
																<script type="text/javascript">
                                                                   var oFCKeditor = new FCKeditor("content");
                                                                  oFCKeditor.BasePath = "fckeditor/";
                                                                  oFCKeditor.Width="80%";
                                                                  oFCKeditor.Height="300px";
                                                                  oFCKeditor.Value="";
                                                                  oFCKeditor.Create();
                                                                
                                                                 </script>
															</td>
														</tr>
														<tr>
                                        					<th></th><td><button type="submit" class="submit"><span>添加</span></button></td>
                                        				</tr>
													</tbody>
												</table>
											</form>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>	
				</table>
			</div>
		</div>
	</div>
	#getMothodSc("moduleName=admin.action.Common" "parameters=tag:2,vmpath:admin/foot.vm");
  </body>
</html>
