<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>商品添加-商品信息</title>
    <link href="${cssDomain}/css/admin.css" rel="stylesheet">
    <link href="${cssDomain}/css/style.css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" language="javascript" src="${jsDomain}/js/util.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="${jsDomain}/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="${jsDomain}/js/validator.js"></script>
	<script type="text/javascript" charset="utf-8" language="javascript" src="${jsDomain}/js/xheditor/xheditor-1.2.1.min.js"></script>
	<script type="text/javascript" charset="utf-8" language="javascript" src="${jsDomain}/js/xheditor/xheditor_lang/zh-cn.js"></script>
	<script >
	    $(function(){
		      $('#riche_ditor').xheditor({
			           upImgUrl:"/$ctx/imageUpload?path=goods.image.path",
					   html5Upload:false,
					   upMultiple:'1',
					   upImgExt:"jpg,jpeg,gif,png"
					   });
		    $("#cate").change(function(){
			       var current_id = $(this).children("option:selected").val();
				   var pt_id = $(this).children("option:selected").attr("pt");
				   $("#category_id").val(current_id);
				   $("#pt_id").val(pt_id);
			  })
		})
    </script>
</head>

<body>
#qModuleLoader("moduleName=module.admin.common.head" "parameters={path:template/admin/head.vm,level1:3,level2:15}")
<div id="admin_right">

<div class="headbar clearfix">
	<div class="position"><span>商品</span><span>&gt;</span><span>商品管理</span><span>&gt;</span><span>商品添加</span></div>
</div>
<div class="content_box">
	<div class="content form_content">
		<form method="post" action="/${ctx}/saveBaseInfo">
			<div id="table_box_1" style="display: block;">
				<table class="form_table">
					<col width="150px"></col>
					<col ></col>
					<tbody>
					<tr>
						<th>商品名称：</th>
						<td><input type="text" title="商品名称" value="$!{goods.name}" name="name" id="name" class="normal _vdt:{CHECKNOTNULL(商品名称)} _for:{msg01}">
							<label class="msgColor">*</label>
							<label id="msg01" class="msgColor"></label>
							<input type="hidden" value="$!{goods.id}" name="id">
						</td>
					</tr>
					<tr>
						<th>商品货号：</th>
						<td><input type="text" title="商品货号" value="$!{goods.sn}" name="sn" id="goods_sn" class="normal _vdt:{CHECKNOTNULL(商品货号)} _for:{msg02}">
							<label class="msgColor">*</label>
							<label id="msg02" class="msgColor"></label>
						</td>
					</tr>
					<tr>
						<th>商品分类：</th>
						<td>
							
							<select class="cate" id="cate" class="normal _vdt:{CHECKNOTNULL(商品货号)} _for:{msg02}">
								#foreach($cateF in $cates)
								<option value="$cateF.id" pt="$!{cateF.pt.id}">$cateF.name</option>
    								#if(${cateF.childs.size()}>0)
        								#foreach($cateS in $cateF.childs)
        								<option style="margin-left:10px;" pt="$!{cateS.pt.id}" value="$cateS.id">$cateS.name</option>
    										#if(${cateS.childs.size()}>0)
        										#foreach($cateT in $cateS.childs)
            								      <option style="margin-left:20px;" pt="$!{cateT.pt.id}" value="$cateT.id">$cateT.name</option>
												#end
											#end
										#end
									#end
								#end
                            </select>
							<input type="hidden" value="!${goods.category_id}" id="category_id" name="category_id">
							<input type="hidden" value="" id="pt_id" name="pt_id">
						</td>
					</tr>
					<tr>
						<th>商品品牌：</th>
						<td>
							<select title="商品品牌" class="normal _vdt:{CHECKNOTNULL(商品品牌)} _for:{msg04}" id="brand_id" name="brand_id">
							#foreach($brand in $brands)
								<option value="$!{brand.id}" #if(${brand.id} == ${goods.brand.id}) selected #end>${brand.name}</option>
							#end
							</select>
						<label class="msgColor">*</label>
							<label id="msg04" class="msgColor"></label>
						</td>
					</tr>
					
					<tr>
                	<th>库存：</th>
                    <td>
                         <input type="text" name="stock" id="gd_stock" value="$!goods.stock" maxlength="8" class="normal _vdt:{CHECKNOTNULL(商品库存)} _for:{msg02}"/>
                    </td>
                </tr>
				<tr>
					<th valign="top">描述：</th>
					<td>
                        
					</td>
				</tr>
						
				</tbody></table>
			</div>
			<textarea id="riche_ditor" name="desc" rows="12" cols="80" style="width: 80%"></textarea>
			<table class="form_table">
				<colgroup><col width="150px">
				<col>
				</colgroup><tbody><tr>
					<td></td><td><button type="submit" class="submit"><span>保存</span></button></td>
				</tr>
			</tbody></table>
		</form>
	</div>
</div>

	</div>
#qModuleLoader("moduleName=module.admin.common.foot" "parameters={path:template/admin/foot.vm}")
</body>
</html>
<script type="text/javascript" charset="utf-8" language="javascript">
    function validatorForm(){
    	if(validator(document)){
	    	var _cks = document.getElementsByName("_specalCbox");
	    	if(_cks && _cks.length > 0){
	    		var _count = _cks.length;
	    		var _ckstr = "";
	    		for(var i =0;i<_count;i++){
	    			if(_cks[i].checked){
	    				_ckstr += _cks[i].value;
	    				_ckstr += ";";
	    			}
	    		}
	    		if(_ckstr.length == 0){
	    			dialogAlert('提示','没有选择任何商品属性');
	    		}else{
	    			var _pri = document.getElementsByName("priceAttrValue");
	    			if(_pri && _pri.length > 0){
	    				var _isc = false;
	    				for(var i =0;i<_pri.length;i++){
	    					if(_pri[i].checked){
	    						_isc = true;
	    						break;
	    					}
	    				}
	    				if(_isc){
			    			$("#changeSplitJson").val(_ckstr.substr(0,_ckstr.length-1));
			    			var _ss="";
			    			var _obj;
			    			$("._mk").each(function(i){
			    				_obj = $(this);
			    				if(_obj.attr("checked")){
			    					_ss+=_obj.val()+"^";
			    				}
			    			});
			    			if(_ss.length > 0){
			    				_ss = _ss.substr(0,_ss.length-1);
			    			}
			    			$("#searchValue").val(_ss);
			    			var _from = document.getElementById("cmtyForm");
			    			_from.action = "${request.getContextPath()}/editcmty.htm";
			    			_from.submit();
		    			}else{
		    				dialogAlert('提示','请选择价格属性');
		    			}
	    			}else{
	    				dialogAlert('提示','请选择价格属性');
	    			}
	    		}    		
	    	}else{
	    		dialogAlert('提示','没有选择任何商品属性');
	    	}
    	}
    }
    
	
</script>
