<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加品牌</title>
<link href="${request.getContextPath()}/css/admin.css" rel="stylesheet">
<link href="${request.getContextPath()}/css/style.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" language="javascript" src="${request.getContextPath()}/js/validator.js"></script>
</head>

<body>
#getMothodSc("moduleName=admin.action.Common" "parameters=tag:1,vmpath:admin/head.vm,level:3,level2:0");
<div id="admin_right">
<div class="headbar">
	<div class="position"><span>商品</span><span>&gt;</span><span>品牌管理</span><span>&gt;</span><span>添加品牌</span></div>
</div>
<div class="content_box">
	<div class="content form_content">
		<form enctype="multipart/form-data" method="post" action="${request.getContextPath()}/editBrand.htm" >
			<table cellspacing="0" cellpadding="0" class="form_table">
				<colgroup><col width="150px">
				<col>
				</colgroup><tbody><tr>
					<th>品牌名称：</th>
					<td><input type="text" title="品牌名称" value="$!{edit_brand.name}" name="brand_name" class="normal _vdt:{CHECKNOTNULL(品牌名称)} _for:{name_msg}">
						<label class="msgColor">*</label>
						<label id="name_msg" class="msgColor"></label>
						<input type="hidden" value="${edit_brand.id}" name="brand_id">
					</td>
				</tr>
				<tr>
					<th>LOGO地址：</th><td><div><input type="file" name="upload.uf" class="normal"></div></td>
				</tr>
				#if(${DIS} ==1)
				<tr>
					<th>LOGO图片：</th>
					<td><img src="${imgUrl}" /></td>
				</tr>
				#end
				<tr>
					<th>品牌显示区域：</th>
					<td>
						<input type="checkbox" name="r1" value="1" #if(${cr1} == 1) checked #end>促销区&nbsp;
						<input type="checkbox" name="r2" value="1" #if(${cr2} == 1) checked #end>横板区&nbsp;
						<input type="checkbox" name="r3" value="1" #if(${cr3} == 1) checked #end>新驻区&nbsp;
					</td>
				</tr>
				<tr>
					<th valign="top">描述：</th><td><textarea rows="3" cols="10" name="description">$!{edit_brand.description}</textarea></td>
				</tr>
				<tr>
					<td></td><td><button type="button" class="submit" onclick="if(validator(document)){document.forms[0].submit();}"><span>确 定</span></button></td>
				</tr>
			</tbody></table>
		</form>
	</div>
</div>
	</div>
#getMothodSc("moduleName=admin.action.Common" "parameters=tag:2,vmpath:admin/foot.vm");
</body>
</html>
