<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>分类列表</title>
    <link href="${cssDomain}/css/admin.css" rel="stylesheet">
    <link href="${cssDomain}/css/style.css" rel="stylesheet">
    <link href="${cssDomain}/css/jquery/ui/jquery.ui.css" rel="stylesheet">
    <script type="text/javascript" src="${jsDomain}/js/jquery/jquery.js"></script>
	<script type="text/javascript" src="${jsDomain}/js/jquery/jquery.ui.min.js"></script>
	<script language="javascript">
	        function addCate(parent_id, parent_name) {
                var options = [];
            	options.push('<option value="'+parent_id+'">'+parent_name+'</option>');
            	$("#parent_cate").html(options);
            	$("#editCate").dialog();
    		}
    </script>

</head>

<body>
#qModuleLoader("moduleName=module.admin.common.head" "parameters={path:template/admin/head.vm,level1:3,level2:15}")
<div id="container">
   <div id="admin_right" style="overflow:hidden;padding: 15px;">
      <div style="float:left;width:100%;border: 1px solid #D7DDE3;">
          <div class="content">
            <div class="position"><span>商品</span><span>&gt;</span><span>商品分类管理</span><span>&gt;</span><span>分类列表</span></div>
            <div class="operating">
				<a href="/${ctx}/editCategoryPage"><button class="operating_btn" type="button"><span class="addition">添加分类</span></button></a>
            	<a href="javascript:void(0)" onclick="selall()"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
            	<a href="javascript:void(0)" onclick="del_select()"><button class="operating_btn" type="button"><span class="delete">批量删除</span></button></a>
            	<a href="javascript:void(0)" onclick=""><button class="operating_btn" type="button"><span class="recycle">回收站</span></button></a>
            </div>
			<div>
				
				<table class="list_table" id="list_table">
            		<colgroup>
            		<col width="200px"/>
            		<col width="150px"/>
            		<col width="100px"/>
            		<col width="70px"/>
            		<col width="70px"/>
            		<col width="70px"/>
        			</colgroup>
					<thead>
        				<tr id="headth" class="">
        					<th>分类名称[ID]</th>
        					<th>品类名称</th>
        					<th>&nbsp;</th>
        					<th>推荐</th>
        					<th class="t_c">首页显示</th>
        					<th>操作</th>
        				</tr>
        			</thead>
					<tbody id="conth">
            			#foreach($row in $list)
            			<tr id="${row.id}" parent="$!{row.parent.id}"  #if($row.parent.id) style="display:none;" #end> 
            				<td class="switch" #if($row.parent.id) #if($row.parent.parent.id)style="padding-left: 60px;"#else style="padding-left: 20px;" #end #end>
            				#if(${row.childs.size()} > 0)<img title="打开" src="${imageDomain}/images/open.gif" class="operator">#end
            				${row.name}[${row.id}]
                            </td>
            				<td style="width:150px;">$!{row.pt.name}</td>
            				<td style="width:100px;">
            					<input type="hidden" value="${row.sort}" id="hid_sort_${row.id}">
								#if(!$row.pt.id)
                                <button class="editCate" type="button" value="添加子分类" onClick="addCate('${row.id}','${row.name}')" >添加子分类</button>
								#end
            				</td>
            				<td>
            					#if(${row.childs.size()} == 0)
            					  <a href="${ctx}/getRecInvList.htm?cateId=${row.id}">
            					  	<img title="编辑推荐货品" src="${imageDomain}/images/m1/pen.png" class="operator">
            					  </a>
            					  #end
            			    </td>
            				<td class="t_c" style="width:100px;"><span class="green">#if(${row.visibility}==1) 是 #else 否 #end</span></td>
            				<td>
            					<a href="${ctx}/editCategoryPage?id=${row.id}">
            						<img title="编辑" src="${imageDomain}/images/icon_edit.gif" class="operator">
            					</a>
            					#if(${row.childs.size()} == 0)
            					<a href="javascript:void(0);" onclick="del(${row.id});">
            						<img title="删除" src="${imageDomain}/images/icon_del.gif" class="operator">
            					</a>
            					#end
            				</td>
            			</tr>
            			#end
            		</tbody>
        		</table>
				
            </div>
          </div>
	  </div>
  </div>
</div>
 #qModuleLoader("moduleName=module.admin.common.foot" "parameters={path:template/admin/foot.vm}")
</body>
</html>
<div id="editCate" style="display:none;">
    <table cellspacing="0" cellpadding="0" class="form_table">
			<colgroup><col width="150px">
			<col>
			</colgroup><tbody><tr>
				<th>分类名称：</th>
				<td><input type="text" title="分类名称" value="" name="name" class="normal _vdt:{CHECKNOTNULL(分类名称)} _for:{name_msg}">
				<label class="msgColor">*</label>
				<label id="name_msg" class="msgColor"></label>
				<input type="hidden" value="${category.id}" name="id">
				</td>
			</tr>
			<tr>
				<th>上级分类：</th>
				<td>
					<select id="parent_cate" title="选择分类" name="parent_id" class="normal">
					</select>
				</td>
			</tr>
			<tr>
				<th>品类：</th><td>
				<select title="选择商品模型" name="pt_id" class="normal">
					<option value="0" #if(${category.pt.id}) selected #end>无绑定</option>
					#foreach($row in $pt_list)
						<option value="${row.id}">$!{row.name}</option>
					#end
				</select>
			</td>
			</tr>
			<tr>
				<th>发部：</th>
				<td>
					<label class="attr">
						<input type="radio" value="1" name="publish_status" #if(${category.publish_status}) checked #end> 是 
					</label>
					<label class="attr">
						<input type="radio" value="0" name="publish_status" #if(${category.publish_status}) checked #end> 否 
					</label>
				</td>
			</tr>
			<tr>
				<td></td><td><button type="button" class="submit" onclick="if(validator(document)){$('#categoryForm').submit();}"><span>确 定</span></button></td>
			</tr>
		</tbody>
        </table>
	 </form>
</div>
<script language="javascript">


$("td.switch .operator").each(function(i){
	$(this).toggle(function(){
		iteraShow($(this).parent().parent().attr('id'), 'show');
		$(this).attr("src", "${imageDomain}/images/close.gif").attr("title","关闭");
	},function(){
		iteraShow($(this).parent().parent().attr('id'), 'hide');
		$(this).attr("src", "${imageDomain}/images/open.gif").attr("title","打开");
	});
});

function iteraShow(id,isshow) {
     
	var obj = $("#list_table tr[parent='"+id+"']");
	console.info(obj);
	if (obj.length>0){
		
		if (isshow=='hide'){
			obj.hide();
		}else{
			obj.show();
		}
	}
}

function del(id){
	dialogConfirm("提示","确认要删除该分类吗?",
		function(){
			window.location='${request.getContextPath()}/editCategoryPage?id='+id;
		}
	);
}

function catCates(n){
	art.dialog.open("${request.getContextPath()}/tocates.htm?id="+n,{
				id:'alert_ccc',
				lock: true,
				opacity: 0.87,
				width:'450px',
				height:'400px',
				title: '选择首页分类',
				yesFn: function(iframeWin, topWin){
					var _cbox = iframeWin.document.getElementsByName("ccbox");
					if(_cbox && _cbox.length > 0){
						var _val = ",";
						var _num = _cbox.length;
						for(var i=0;i<_num;i++){
							if(_cbox[i].checked){
								_val +=_cbox[i].value;
								_val += ",";
							}
						}
						var _data = "id="+n+"&val="+_val;
						$.ajax({
							url: "${request.getContextPath()}/updcc.htm",
							type: "GET",
							data: _data,
							timeout: 10000,
							async:false,
							success: function(data){
								if("00_FAIL" == data){
									dialogAlert("错误","非法的请求!");
								}else if("01_FAIL" == data){
									dialogAlert("错误","服务器更新出错，请重试!");
								}else if("SUCCESS" == data){
									dialogAlert("提示","更新成功!");
								}else{
									dialogAlert("错误","非法的请求!");
								}
							}
						});
					}
				},
				noFn:function(iframeWin, topWin){
				}
			});
}


function catbrand(_obj,id){
	art.dialog.open("${request.getContextPath()}/listcb.htm?id="+id,{
				id:'alert_brand',
				lock: true,
				opacity: 0.87,
				width:'600px',
				height:'500px',
				title: '选择品牌',
				yesFn: function(iframeWin, topWin){
					var _cbox = iframeWin.document.getElementsByName("cbox");
					if(_cbox && _cbox.length > 0){
						var _val = ",";
						var _num = _cbox.length;
						for(var i=0;i<_num;i++){
							if(_cbox[i].checked){
								_val +=_cbox[i].value;
								_val += ",";
							}
						}
						var _data = "id="+id+"&val="+_val;
						$.ajax({
							url: "${request.getContextPath()}/updcb.htm",
							type: "GET",
							data: _data,
							timeout: 10000,
							async:false,
							success: function(data){
								if("00_FAIL" == data){
									dialogAlert("错误","非法的请求!");
								}else if("01_FAIL" == data){
									dialogAlert("错误","服务器更新出错，请重试!");
								}else if("SUCCESS" == data){
									dialogAlert("提示","更新成功!");
								}else{
									dialogAlert("错误","非法的请求!");
								}
							}
						});
					}
				},
				noFn:function(iframeWin, topWin){
				}
			});
}
</script>
<script type="text/javascript" charset="utf-8" language="javascript">
	var ___mkey = null;
	var ___msg = null;
	#if(${page_k_message_key})
		var ___mkey = $!{page_k_message_key};
		var ___msg = $!{page_k_message_value};
	#end
	if(___mkey){
		dialogAlert(___mkey,___msg);
	}
</script>
