<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分类推荐列表</title>
<link href="${request.getContextPath()}/css/admin.css" rel="stylesheet">
<link href="${request.getContextPath()}/css/style.css" rel="stylesheet">
</head>

<body>
#getMothodSc("moduleName=admin.action.Common" "parameters=tag:1,vmpath:admin/head.vm,level:3,level2:26");
<div id="admin_right">
	<div class="headbar">
		<div class="position"><span>商品</span><span>&gt;</span><span>分类管理</span><span>&gt;</span><span>分类推荐列表</span></div>
		<div class="field">
			<div class="table_box">
				<table class="list_table">
					<colgroup>
					<col width="250px"/>
					<col width="350px"/>
					<col width="100px"/>
					</colgroup><thead>
						<tr class="">
							<th>推荐ID</th>
							<th>推荐名称</th>
							<th>操作</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<div class="content">
		<table class="list_table" id="list_table">
			<colgroup>
				<col width="250px"/>
				<col width="450px"/>
				<col width="100px"/>
			</colgroup>
			<tbody>
					#foreach($row in $rec_list)
						<tr>
							<td>${row.id}</td>
							<td>${row.recName}</td>
							<td><a href="${request.getContextPath()}/getRecInvAll.htm?recId=${row.id}&cateId=${cateId}" >
									<img title="编辑推荐货品" src="${request.getContextPath()}/image/m1/pen.png" class="operator">
								</a>
							</td>
						</tr>	
					#end
			</tbody>
		</table>
	</div>
</div>
#getMothodSc("moduleName=admin.action.Common" "parameters=tag:2,vmpath:admin/foot.vm");
</body>
</html>
<script language="javascript">
</script>
