<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商品添加-商品信息</title>
<link href="${request.getContextPath()}/css/admin.css" rel="stylesheet">
<link href="${request.getContextPath()}/css/artDialog.css" rel="stylesheet">
<link href="${request.getContextPath()}/css/style.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" language="javascript" src="${request.getContextPath()}/js/util.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="${request.getContextPath()}/js/jquery.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="${request.getContextPath()}/js/artDialog.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="${request.getContextPath()}/js/validator.js"></script>
</head>

<body>
#getMothodSc("moduleName=admin.action.Common" "parameters=tag:1,vmpath:admin/head.vm,level:3,level2:0");
<div id="admin_right">
<style type="text/css">
	.wordBox{display:inline-block;padding:3px;background:#ddd;margin:5px;color:#000;font-size:12px;}
	.wordBoxButton{background:#999;cursor:pointer;padding:2px;margin:2px;border-radius:3px;}
	.wordBoxButton:hover{background:#bbb}
</style>
<div class="headbar clearfix">
	<div class="position"><span>商品</span><span>&gt;</span><span>商品管理</span><span>&gt;</span><span>商品添加</span></div>
</div>
<div class="content_box">
	<div class="content form_content">
		<form method="post" id="cmtyForm" name="cmtyForm" action="" novalidate="true">
			<div id="table_box_1" style="display: block;">
				<table class="form_table">
					<colgroup><col width="150px">
					<col>
					</colgroup><tbody>
					<tr>
						<th>商品名称：</th>
						<td><input type="text" title="商品名称" value="$!{edit_cmty.name}" name="name" id="name" class="normal _vdt:{CHECKNOTNULL(商品名称)} _for:{msg01}">
							<label class="msgColor">*</label>
							<label id="msg01" class="msgColor"></label>
							<input type="hidden" value="${edit_cmty.id}" name="id">
						</td>
					</tr>
					<tr>
						<th>商品货号：</th>
						<td><input type="text" title="商品货号" value="$!{edit_cmty.goods_num}" name="goods_num" id="goods_num" class="normal _vdt:{CHECKNOTNULL(商品货号)} _for:{msg02}">
							<label class="msgColor">*</label>
							<label id="msg02" class="msgColor"></label>
						</td>
					</tr>
					<tr>
						<th>商品分类：</th>
						<td>
							<input type="text" title="商品分类" value="$!{edit_cmty.ctName}" name="cg_name" id="cg_name" class="normal _vdt:{CHECKNOTNULL(商品品牌)} _for:{msg03}" readonly>
							<button class="btn" type="button" onclick="showCategoy();"><span class="add">选择分类</span></button>
							<label class="msgColor">*</label>
							<label id="msg03" class="msgColor"></label>
							<input type="hidden" value="${edit_cmty.category_id}" id="category_id" name="category_id">
						</td>
					</tr>
					<tr>
						<th>商品品牌：</th>
						<td>
							<select title="商品品牌" class="normal _vdt:{CHECKNOTNULL(商品品牌)} _for:{msg04}" id="brand_id" name="brand_id">
							#foreach($row in $edit_brand_list)
								<option value="${row.id}" #if(${edit_cmty.brand_id} == ${row.id}) selected #end>${row.name}</option>
							#end
							</select>
						<label class="msgColor">*</label>
							<label id="msg04" class="msgColor"></label>
						</td>
					</tr>
					<tr>
						<th>单位：</th>
						<td>
							<select title="单位" class="normal" id="unit" name="unit">
								<option value="台" #if(${edit_cmty.unit} eq '台') selected #end>台</option>
								<option value="件" #if(${edit_cmty.unit} eq '件') selected #end>件</option>
								<option value="册" #if(${edit_cmty.unit} eq '册') selected #end>册</option>
								<option value="双" #if(${edit_cmty.unit} eq '双') selected #end>双</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>显示方式：</th>
						<td>
							<select title="显示方式" class="normal" id="displayTag" name="displayTag">
								<option value="1" #if(${edit_cmty.displayTag} == 1) selected #end>图片</option>
								<option value="2" #if(${edit_cmty.displayTag} == 2) selected #end>文字</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>商品属性：</th>
						<td>
							<span id="_checkboxs">
								$!{edit_cmty.attrPageCboxs}
							</span>
							<input type="hidden" value="$!{edit_cmty.cdity_attr}" id="changeSplitJson" name="changeSplitJson">
						</td>
					</tr>
					<tr>
						<th>价格属性：</th>
						<td>
							<span id="_priceAttrsSpan">
								$!{edit_cmty.pricePageAttr}
							</span>
						</td>
					</tr>
					<tr>
						<th>搜索属性：</th>
						<td>
							<span id="_attrsSpan">
								$!{edit_cmty.attrSearchBox}
							</span>
							<input type="hidden" value="$!{edit_cmty.serach_attr}" id="searchValue" name="searchValue">
						</td>
					</tr>
					<tr>
						<th>是否收取邮费：</th>
						<td>
							<select title="是否收取邮费" class="normal" id="freightTag" name="freightTag">
								<option value="1" #if(${edit_cmty.freightTag} == 1) selected #end>是</option>
								<option value="0" #if(${edit_cmty.freightTag} == 0) selected #end>否</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>邮费提示：</th>
						<td>
							<input type="text" title="邮费提示" value="$!{edit_cmty.freightTip}" name="freightTip" id="freightTip" class="normal _vdt:{MAXLENGTH(邮费提示,200)} _for:{msg034}">
							<label id="msg034" class="msgColor"></label>
						</td>
					</tr>
					<tr>
						<th>SEO搜索：</th>
						<td>
							<input type="text" title="商品货号" value="$!{edit_cmty.seoWord}" name="seoWord" id="seoWord" class="normal _vdt:{MAXLENGTH(SEO搜索,200)} _for:{msg044}">
							<label id="msg044" class="msgColor"></label>
						</td>
					</tr>
						
				</tbody></table>
			</div>
			<table class="form_table">
				<colgroup><col width="150px">
				<col>
				</colgroup><tbody><tr>
					<td></td><td><button onclick="validatorForm();" type="button" class="submit"><span>保存</span></button></td>
				</tr>
			</tbody></table>
		</form>
	</div>
</div>

	</div>
	#getMothodSc("moduleName=admin.action.Common" "parameters=tag:2,vmpath:admin/foot.vm");
</body>
</html>
<script type="text/javascript" charset="utf-8" language="javascript">
    function validatorForm(){
    	if(validator(document)){
	    	var _cks = document.getElementsByName("_specalCbox");
	    	if(_cks && _cks.length > 0){
	    		var _count = _cks.length;
	    		var _ckstr = "";
	    		for(var i =0;i<_count;i++){
	    			if(_cks[i].checked){
	    				_ckstr += _cks[i].value;
	    				_ckstr += ";";
	    			}
	    		}
	    		if(_ckstr.length == 0){
	    			dialogAlert('提示','没有选择任何商品属性');
	    		}else{
	    			var _pri = document.getElementsByName("priceAttrValue");
	    			if(_pri && _pri.length > 0){
	    				var _isc = false;
	    				for(var i =0;i<_pri.length;i++){
	    					if(_pri[i].checked){
	    						_isc = true;
	    						break;
	    					}
	    				}
	    				if(_isc){
			    			$("#changeSplitJson").val(_ckstr.substr(0,_ckstr.length-1));
			    			var _ss="";
			    			var _obj;
			    			$("._mk").each(function(i){
			    				_obj = $(this);
			    				if(_obj.attr("checked")){
			    					_ss+=_obj.val()+"^";
			    				}
			    			});
			    			if(_ss.length > 0){
			    				_ss = _ss.substr(0,_ss.length-1);
			    			}
			    			$("#searchValue").val(_ss);
			    			var _from = document.getElementById("cmtyForm");
			    			_from.action = "${request.getContextPath()}/editcmty.htm";
			    			_from.submit();
		    			}else{
		    				dialogAlert('提示','请选择价格属性');
		    			}
	    			}else{
	    				dialogAlert('提示','请选择价格属性');
	    			}
	    		}    		
	    	}else{
	    		dialogAlert('提示','没有选择任何商品属性');
	    	}
    	}
    }
    
	function showCategoy(){
		art.dialog.open("${request.getContextPath()}/listcgcg.htm",{
				id:'alert_category',
				lock: true,
				opacity: 0.87,
				width:'700px',
				height:'450px',
				title: '选择分类',
				yesFn: function(iframeWin, topWin){
					var _radios = iframeWin.document.getElementsByName('cgradios');
					if(!_radios || _radios.length == 0){
						dialogAlert('提示','没有选择任何分类');
					}else{
						var _count = _radios.length;
						var _checked = false;
						for(var i=0;i<_count;i++){
							if(_radios[i].checked){
								var _value = _radios[i].value.split(";;;");
								$("#cg_name").val(_value[1]+" / " + _value[2]);
								$("#category_id").val(_value[0]);
								var _baId = _value[3];
								$.ajax({
									url: '${request.getContextPath()}/ajaxba.htm',
									type: 'GET',
									data: 'id='+_baId,
									timeout: 10000,
								    async:false,
									success: function(data){
										var ed = eval(data);
										$("#_checkboxs").html(ed[0]);
										$("#_priceAttrsSpan").html(ed[1]);
										$("#_attrsSpan").html(ed[2]);
									}
								});
								_checked = true;
								break;
							}
						}
						if(!_checked){	
							dialogAlert('提示','没有选择任何分类');
						}
					}
				}
			});
	}
</script>
