<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>品类添加-基本信息</title>
    <link href="${cssDomain}/css/admin.css" rel="stylesheet">
    <link href="${cssDomain}/css/style.css" rel="stylesheet">
    <script src="${jsDomain}/js/jquery.js" type="text/javascript"></script>
    <script src="${jsDomain}/js/b2c.ajax.js" type="text/javascript"></script>
    <script type="text/javascript">
       $(function() {
	      $.b2c.ajaxSubmit($(".form"),"/$ctx/savaPt", function(){
		     alert("保存成功");
		  })
	   })
	</script>
</head>

<body>
#qModuleLoader("moduleName=module.admin.common.head" "parameters={path:template/admin/head.vm,level1:3,level2:15}")
	<div id="admin_right">
		<div class="headbar clearfix">
		<div class="position"><span>商品</span><span>&gt;</span><span>品类管理</span><span>&gt;</span><span>品类添加</span></div>
	</div>

	<form method="post" class="form" action="/$ctx/savaPt">
	<input type="hidden" value="$!pt.id" name="id"/>
	<div class="content_box">
		<div class="content form_content">
			<table name="table" class="form_table" id="tab-1">
				<colgroup><col width="150px">
				<col>
				</colgroup>
				#set($list_filkter=[])
				#foreach($attr in $pt.attrs)
					#if($attr.attr_type == 1) #set($splitAttr=$attr) #end
					#if($attr.attr_type == 2) #set($changAttr=$attr) #end
                    #if($attr.attr_type == 3) #set($priceAttr=$attr) #end
                    #if($attr.attr_type == 4) #set($list_filkter[$list_filkter.length] = $attr) #end		
				#end
				<tbody>
					<tr>
						<th>品类名称：</th>
						<td>
							<input type="text" value="$!{pt.name}" title="品类名称" id="name" name="name" class="normal _vdt:{CHECKNOTNULL(拆分属性[名称])} _for:{msg02}"/>
							<label class="msgColor">*</label>
							<label id="msg01" class="msgColor"></label>
						</td>
					</tr>
					<tr>
						<th>拆分属性 [名称/值]：</th>
						<td>
							 <input type="hidden" value="1" name="attr_type"/>
							 <input type="hidden" value="$!{splitAttr.id}" name="attr_id"/>
							<input type="text" value="$!{splitAttr.attr_name}" title="拆分属性" name="attr_name" class="normal _vdt:{CHECKNOTNULL(拆分属性[名称])} _for:{msg02}" />
							<input type="text" value="$!{splitAttr.attr_val}" title="拆分属性" style="width:350px" name="attr_val" class="normal _vdt:{CHECKNOTNULL(拆分属性[值])} _for:{msg02}"/>
							<label class="msgColor">*</label>
							<label id="msg02" class="msgColor"></label>
						</td>
					</tr>
					<tr>
						<th>选购属性 [名称/值]：</th>
						<td>
							<input type="hidden" value="2" name="attr_type"/>
							<input type="hidden" value="$!{changAttr.id}" name="attr_id"/>
							<input type="text" value="$!{changAttr.attr_name}" title="选购属性" name="attr_name" class="normal _vdt:{CHECKNOTNULL(选购属性[名称]])} _for:{msg03}"/>
							<input type="text" value="$!{changAttr.attr_val}" title="选购属性" style="width:350px" name="attr_val" class="normal _vdt:{CHECKNOTNULL(选购属性[值]])} _for:{msg03}"/>
							<label class="msgColor">*(无选购属性时，名称和值填写#号)</label>	
							<label id="msg03" class="msgColor"></label>					
						</td>
					</tr>
					<tr>
						<th>价格属性 [名称/值]：</th>
						<td>
							<input type="hidden" value="3" name="attr_type"/>
							<input type="hidden" value="$!{priceAttr.id}" name="attr_id"/>
							<input type="text" value="$!{priceAttr.attr_name}" title="价格属性" name="attr_name" class="normal _vdt:{CHECKNOTNULL(价格属性[名称])} _for:{msg04}"/>
							<input type="text" value="$!{priceAttr.attr_val}" title="价格属性" style="width:350px" name="attr_val" class="normal _vdt:{CHECKNOTNULL(价格属性[值])} _for:{msg04}"/>
							<label class="msgColor">*</label>	
							<label id="msg04" class="msgColor"></label>						
						</td>
					</tr>
					<tr>
						<th>添加扩展属性：</th>
						<td><button type="button" onclick="addAttr();" class="btn"><span class="add">添加扩展属性</span></button></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<table width="90%" class="border_table">
								<thead>
									<tr>
										<th>属性名</th>
										<th nowrap="nowrap">前台列表页显示类型</th>
										<th>选择项可选值【选项之间用逗号','做分割】</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody id="attr_list">
									
									#foreach($attr in $pt.attrs)
									#if($attr.attr_type == 4)
									<tr>
										<td><input name='attr_name'  class='normal' type='text' value="${attr.attr_name}" />
											<input type="hidden" value="$!{attr.id}" name="attr_id"/>
											<input type='hidden' value='4' name='attr_type'/>
										<td><select class='middle' name='fjtype'>
											<option value = '1' #if(${row.type}==1) selected #end >单选框</option>
											<option value = '2' #if(${row.type}==2) selected #end >复选框</option>
										</select></td>
										<td><input class='normal' name='attr_val' type='text' value="${attr.attr_val}" /></td>
										<td><img class='operator' src='${imageDomain}/images/icon_del.gif' alt='删除'  onclick='delAttr(this)' />
										</td>
									</tr>
									#end
									#end
								</tbody>
							</table>
						</td>
					</tr>
			</tbody></table>
			<table class="form_table">
				<colgroup><col width="150px">
				<col>
				</colgroup><tbody><tr>
					<td></td>
					<td><button type="submit" class="submit"><span>保 存</span></button></td>
				</tr>
			</tbody></table>
		</div>
	</div>
	
	</form>
	<script type="text/javascript" charset="utf-8" language="javascript">
		//添加一个模型属性
		function addAttr()
		{
			var str = "<tr>"+
						"<td><input type='hidden' name='attr_id'/><input type='hidden' value='4' name='attr_type'/><input name='attr_name'  class='normal' type='text' /></td>"+
						"<td></td>"+
						"<td><input class='normal' name='attr_val' type='text'  /></td>"+
						"<td><img class='operator' src='${request.getContextPath()}/images/icon_del.gif' alt='删除'  onclick='delAttr(this)' /></td>"+
					"</tr>";
			$("#attr_list").append(str);
		}
		//删除模型属性
		function delAttr(curr_attr)
		{
			$(curr_attr).parent().parent().remove();
		}
	</script>
  #qModuleLoader("moduleName=module.admin.common.foot" "parameters={path:template/admin/foot.vm}")
</body>
</html>