<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加品牌</title>
    <link href="${cssDomain}/css/admin.css" rel="stylesheet">
    <link href="${cssDomain}/css/style.css" rel="stylesheet">
    <link href="${cssDomain}/css/artDialog.css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" language="javascript" src="${jsDomain}/js/util.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="${jsDomain}/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="${jsDomain}/js/artDialog.js"></script>
	<script type="text/javascript" charset="utf-8" language="javascript" src="${jsDomain}/js/swfupload.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="${jsDomain}/js/b2c.ajax.js"></script>

	<script type="text/javascript">
    	$(function() {
          $(".upload-image").ajaxUpload({
              path : 'brand.image.path',
			  upload_url:"/$ctx/imageUpload"
           }, function(jsonData) {//处理ajax返回
               if (jsonData.status == 200) {//上传成功status=200
                  alert("已经上传成功!");
                  var path = jsonData.message.path;
                  $("#br_logo").val(path);
        		  $("#br_show").attr("src", "${imageDomain}" + path);
        		  $("#br_small_show").attr("src", "${imageDomain}" + path);
               } else {
                  alert("上传失败！");
               }
           });
		   
		    $.b2c.ajaxSubmit($(".form"),"/${ctx}/saveBrand", function(){
		     alert("保存成功");
		  })
        });
	</script>
</head>

<body>
#qModuleLoader("moduleName=module.admin.common.head" "parameters={path:template/admin/head.vm,level1:3,level2:20}")
<div id="admin_right">
<div class="headbar">
	<div class="position"><span>商品</span><span>&gt;</span><span>品牌管理</span><span>&gt;</span><span>添加品牌</span></div>
</div>
<div class="content_box">
	<div class="content form_content">
		<form class="form" method="post" action="/${ctx}/saveBrand" >
			<table cellspacing="0" cellpadding="0" class="form_table">
				<colgroup><col width="150px">
				<col>
				</colgroup><tbody><tr>
					<th>品牌名称：</th>
					<td><input type="text" title="品牌名称" value="$!{brand.name}" name="name" class="normal _vdt:{CHECKNOTNULL(品牌名称)} _for:{name_msg}">
						<label class="msgColor">*</label>
						<label id="name_msg" class="msgColor"></label>
						<input type="hidden" value="$!{brand.id}" name="id">
					</td>
				</tr>
				<tr>
					<th>品牌定位：</th>
					<td>
						<input type="text" name="position" value="" class="normal _vdt:{CHECKNOTNULL(品牌定位)} _for:{name_msg}">
					</td>
				</tr>
				<tr>
                    <th valign="top">品牌Logo：</th>
                    <td>
                    	<div >
                   	    	<img id="br_show" src="${brand.logo}" width="140" height="40" alt="品牌" />
                        </div>
                    	<div>
           	    	    	<img id="br_small_show" src="${brand.logo}" width="50" height="23" alt="缩略图" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>更新Logo：</th>
                    <td>
                        <span class="upload-image"></span><label class="">图片尺寸建议为140*40</label>
						<input type="hidden" name="logo" id="br_logo" value="$!{brand.logo}"  />

                    </td>
                </tr>
				#if(${DIS} ==1)
				<tr>
					<th>LOGO图片：</th>
					<td><img src="${imgUrl}" /></td>
				</tr>
				#end
				<tr>
					<th valign="top">描述：</th><td><textarea rows="3" cols="10" name="desc">$!{brand.description}</textarea></td>
				</tr>
				<tr>
					<td></td><td><button type="submit" class="submit"><span>确 定</span></button></td>
				</tr>
			</tbody></table>
		</form>
	</div>
</div>
	</div>
 #qModuleLoader("moduleName=module.admin.common.foot" "parameters={path:template/admin/foot.vm}")
</body>
</html>
