<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加品牌</title>
    <link href="${cssDomain}/admin.css" rel="stylesheet">
    <link href="${cssDomain}/style.css" rel="stylesheet">
    <link href="${cssDomain}/artDialog.css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" language="javascript" src="${jsDomain}/util.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="${jsDomain}/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="${jsDomain}/artDialog.js"></script>
	<script src="${jsDomain}/b2c.ajax.js" type="text/javascript"></script>
	<script type="text/javascript">
	      $(function() {
		      $.b2c.ajaxUpload($(".imageForm"),"/$ctx/imageUpload","" ,function(){
			     alert("保存成功");
			  });
		   })
	</script>
</head>

<body>
#qModuleLoader("moduleName=module.admin.common.head" "parameters={path:template/admin/head.vm,level1:3,level2:20}")
<div id="admin_right">
<div class="headbar">
	<div class="position"><span>商品</span><span>&gt;</span><span>品牌管理</span><span>&gt;</span><span>添加品牌</span></div>
</div>
<div class="content_box">
	<div class="content form_content">
		<form class="form" enctype="multipart/form-data" method="post" action="${request.getContextPath()}/editBrand.htm" >
			<table cellspacing="0" cellpadding="0" class="form_table">
				<colgroup><col width="150px">
				<col>
				</colgroup><tbody><tr>
					<th>品牌名称：</th>
					<td><input type="text" title="品牌名称" value="$!{brand.name}" name="name" class="normal _vdt:{CHECKNOTNULL(品牌名称)} _for:{name_msg}">
						<label class="msgColor">*</label>
						<label id="name_msg" class="msgColor"></label>
						<input type="hidden" value="$!{brand.id}" name="id">
					</td>
				</tr>
				<tr>
					<th>品牌定位：</th>
					<td>
						<input type="text" name="position" value=""/>
					</td>
				</tr>
				<tr>
					<th>LOGO地址：</th><td><div><input type="file" name="file" class="normal"></div></td>
				</tr>
				#if(${DIS} ==1)
				<tr>
					<th>LOGO图片：</th>
					<td><img src="${imgUrl}" /></td>
				</tr>
				#end
				<tr>
					<th valign="top">描述：</th><td><textarea rows="3" cols="10" name="desc">$!{brand.description}</textarea></td>
				</tr>
				<tr>
					<td></td><td><button type="submit" class="submit"><span>确 定</span></button></td>
				</tr>
			</tbody></table>
		</form>
		
		<form enctype="multipart/form-data" method="post" action="/${ctx}/imageUpload">
			<table cellspacing="0" cellpadding="0" class="form_table">
				<colgroup><col width="150px">
				<col>
				</colgroup>
				<tbody>
					<input type="hidden" value="brand.image.path" name="path">
				<tr>
					<th>LOGO地址：</th><td><div><input type="file" name="file" class="normal"></div></td>
				</tr>
				<tr>
					<th valign="top">描述：</th><td><textarea rows="3" cols="10" name="desc">$!{brand.description}</textarea></td>
				</tr>
				<tr>
					<td></td><td><button type="submit" class="submit"><span>确 定</span></button></td>
				</tr>
			</tbody></table>
		</form>
	</div>
</div>
	</div>
 #qModuleLoader("moduleName=module.admin.common.foot" "parameters={path:template/admin/foot.vm}")
</body>
</html>
