<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商品列表</title>
<link href="${cssDomain}/css/admin.css" rel="stylesheet">
<link href="${cssDomain}/css/style.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" language="javascript" src="${jsDomain}/js/util.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="${jsDomain}/js/jquery.js"></script>
</head>

<body>
#qModuleLoader("moduleName=module.admin.common.head" "parameters={path:template/admin/head.vm,level1:3,level2:15}")
<div id="container">
    <div id="admin_right" style="overflow:hidden;padding: 15px;">
		<div style="float:left;width:100%;border: 1px solid #D7DDE3;">
			<div class="content">
				<div class="position"><span>商品</span><span>&gt;</span><span>商品管理</span><span>&gt;</span><span>商品列表</span></div>
                <div class="searchbar">
                	<form name="goodsListFprm" method="post" action="/${ctx}/goodsList">
                		商品货号：<input class="small" name="goodsNum" type="text" value="$!{goodsNum}" style="width:100px"/>
                		<select style="width:155px" name="categoryId" class="auto">
                			<option value="0" #if(${cg.id}==0) selected #end>选择商品分类</option>
                			#foreach($cg in $list_cgl)
                				<option value="${cg.id}" #if(${cg.id}==${categoryId}) selected #end>${cg.name}</option>
                			#end
                		</select>
                		<button type="submit" class="btn"><span>查 询</span></button>
                		<a href="javascript:;"><button onclick="location.href='/${ctx}/editGoodBaseInfoPage';" type="button" class="btn"><span>添加商品</span></button></a>
                	</form>
                </div>
                <div>
					<table class="list_table">
						<col width="50px">
            			<col width="100px">
            			<col width="400px">
            			<col width="100px">
            			<col width="100px">
						<col width="100px">
						<thead>
            				<tr class="">
								<th>序号</th>
            					<th>商品编号</th>
            					<th>商品名称</th>
            					<th>商品规格</th>
								<th>商品品牌</th>
            					<th>操作</th>
            				</tr>
            			</thead>
						<tbody>
            				#foreach($row in $list)
            					<tr class="">
            						<td title="${row.name}">${row.name}</td>
            						<td>$!{row.goods_num}</td>
            						<td>$!{row.brandName}</td>
            						<td>$!{row.ctName}</td>
            						<td>$!{row.cdity_attr}</td>
            						<td>
            							<a href="javascript:void(0);" onclick="location.href='${request.getContextPath()}/tocmtyedit.htm?opera=1&cmty=${row.id}';">
            								<img title="编辑" src="${request.getContextPath()}/image/m1/pen.png" class="operator">
            							</a>
            							<a href="javascript:void(0);" onclick="del(${row.id});">
            								<img title="删除" src="${request.getContextPath()}/image/m1/del.png" class="operator">
            							</a>
            							<a href="javascript:void(0);" onclick="location.href='${request.getContextPath()}/cmdyinfo.htm?id=${row.id}&category_id=${row.category_id}';">
            								<img title="编辑商品HTML" src="${request.getContextPath()}/image/m1/pen.png" class="operator">
            							</a>
            						</td>
            					</tr>
            				#end
            			</tbody>
            		</table>
				</div>
            </div>
        </div>
	</div>
</div>
	
<form id="commForm" action="${request.getContextPath()}/listcmty.htm" method="post">
	<input type="hidden" name="curPage" id="curPage" value="1">
</form>
##getPageHtml("formId=commForm" "parameters=pageNo:$page.pageNo,pageSize:$page.pageSize,totalCount:$page.totalCount,pageviewcount:$page.pageviewcount,vmpath:common/page.vm");
  #qModuleLoader("moduleName=module.admin.common.foot" "parameters={path:template/admin/foot.vm}")
</body>
</html>
<script language="javascript">
	function del(id){
		dialogConfirm("提示","删除商品，商品下的货品都将删除，确认要删除吗",
			function(){
				window.location='${request.getContextPath()}/deletecmty.htm?cmty='+id;
			}
		);
	}
</script>