<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>品牌列表</title>
<link href="${request.getContextPath()}/css/admin.css" rel="stylesheet">
<link href="${request.getContextPath()}/css/style.css" rel="stylesheet">
<link href="${request.getContextPath()}/css/artDialog.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" language="javascript" src="${request.getContextPath()}/js/util.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="${request.getContextPath()}/js/jquery.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="${request.getContextPath()}/js/artDialog.js"></script>
</head>

<body>
#getMothodSc("moduleName=admin.action.Common" "parameters=tag:1,vmpath:admin/head.vm,level:3,level2:27");
<div id="admin_right">
	<div class="headbar">
		<div class="position"><span>商品</span><span>&gt;</span><span>品牌管理</span><span>&gt;</span><span>品牌列表</span></div>
		<div class="searchbar">
			<form action="${request.getContextPath()}/listBrand.htm" method="post" name="listBrandForm">
			品牌名称：<input class="small" name="brandName" type="text" value="$!{brandName}" style="width:140px"/>
				<button class="btn" type="submit"><span>查 询</span></button>
			
				<a href="javascript:;">
					<button class="btn" type="button" onclick="location.href='${request.getContextPath()}/toEditBC.htm?opera=0';">
						<span>增加</span>
					</button>
				</a>
			</form>
		</div>
		<div class="field">
			<div class="table_box">
				<table class="list_table">
					<colgroup>
					<col width="350px"/>
					<col width="200px"/>
					<col width="150px"/>
					</colgroup><thead>
						<tr class="">
							<th>品牌名称</th>
							<th>区域</th>
							<th>操作</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<div class="content">
		<table class="list_table" id="list_table">
			<colgroup>
				<col width="350px"/>
				<col width="200px"/>
				<col width="150px"/>
			</colgroup>
			<tbody>
				
					#foreach($row in $list_brand)
						<tr>
							<td>${row.name}</td>
							<td>${row.getRegionDesc()}</td>
							<td><a href="javascript:void(0);" onclick="location.href='${request.getContextPath()}/toEditBC.htm?opera=1&brandId=${row.id}';">
									<img class="operator" src="${request.getContextPath()}/image/m1/pen.png" title="修改"/>
								</a>
								<a href="javascript:void(0)" onclick="del(${row.id});">
									<img class="operator" src="${request.getContextPath()}/image/m1/del.png" title="删除" />
								</a>
								<!--<a href="javascript:void(0);" onclick="changeCategory(this,${row.id});">
									<img title="推荐分类" src="${request.getContextPath()}/image/m1/search.png" class="operator">
								</a>-->
								<a href="javascript:void(0);" onclick="boundCategory(this,${row.id});">
									<img title="绑定分类" src="${request.getContextPath()}/image/m1/search.png" class="operator">
								</a>
							</td>
						</tr>	
					#end
						
			</tbody>
		</table>
	</div>
</div>
		
<form id="brandForm" action="${request.getContextPath()}/listBrand.htm" method="post">
	<input type="hidden" name="curPage" id="curPage" value="1">
</form>
#getPageHtml("formId=brandForm" "parameters=pageNo:$page.pageNo,pageSize:$page.pageSize,totalCount:$page.totalCount,pageviewcount:$page.pageviewcount,vmpath:common/page.vm");
	#getMothodSc("moduleName=admin.action.Common" "parameters=tag:2,vmpath:admin/foot.vm");
</body>
</html>
<script language="javascript">
function del(id){
	dialogConfirm("提示","确认要删除该品牌吗?",
		function(){
			window.location='${request.getContextPath()}/deleteBrand.htm?brandId='+id;
		}
	);
}
function changeCategory(_obj,id){
	art.dialog.open("${request.getContextPath()}/cbrand.htm?brandId="+id,{
				id:'alert_category_brand',
				lock: true,
				opacity: 0.87,
				width:'600px',
				height:'500px',
				title: '推荐品牌-选择分类',
				yesFn: function(iframeWin, topWin){
					var _cbox = iframeWin.document.getElementsByName("cbox");
					if(_cbox && _cbox.length > 0){
						var _val = ",";
						var _num = _cbox.length;
						for(var i=0;i<_num;i++){
							if(_cbox[i].checked){
								_val +=_cbox[i].value;
								_val += ",";
							}
						}
						var _data = "id="+id+"&val="+_val;
						$.ajax({
							url: "${request.getContextPath()}/bupdcb.htm",
							type: "GET",
							data: _data,
							timeout: 10000,
							async:false,
							success: function(data){
								if("00_FAIL" == data){
									dialogAlert("错误","非法的请求!");
								}else if("01_FAIL" == data){
									dialogAlert("错误","服务器更新出错，请重试!");
								}else if("SUCCESS" == data){
									dialogAlert("提示","更新成功!");
								}else{
									dialogAlert("错误","非法的请求!");
								}
							}
						});
					}
				},
				noFn:function(iframeWin, topWin){
				}
			});
}

function boundCategory(_obj,id){
	art.dialog.open("${request.getContextPath()}/cbound.htm?brandId="+id,{
				id:'alert_category_brand',
				lock: true,
				opacity: 0.87,
				width:'600px',
				height:'500px',
				title: '绑定品牌-选择分类',
				yesFn: function(iframeWin, topWin){
					var _cbox = iframeWin.document.getElementsByName("cbox");
					if(_cbox && _cbox.length > 0){
						var _val = ",";
						var _num = _cbox.length;
						for(var i=0;i<_num;i++){
							if(_cbox[i].checked){
								_val +=_cbox[i].value;
								_val += ",";
							}
						}
						var _data = "id="+id+"&val="+_val;
						$.ajax({
							url: "${request.getContextPath()}/updbod.htm",
							type: "GET",
							data: _data,
							timeout: 10000,
							async:false,
							success: function(data){
								if("00_FAIL" == data){
									dialogAlert("错误","非法的请求!");
								}else if("01_FAIL" == data){
									dialogAlert("错误","服务器更新出错，请重试!");
								}else if("SUCCESS" == data){
									dialogAlert("提示","更新成功!");
								}else{
									dialogAlert("错误","非法的请求!");
								}
							}
						});
					}
				},
				noFn:function(iframeWin, topWin){
				}
			});
}

</script>
<script type="text/javascript" charset="utf-8" language="javascript">
	var ___mkey = null;
	var ___msg = null;
	#if(${page_k_message_key})
		var ___mkey = $!{page_k_message_key};
		var ___msg = $!{page_k_message_value};
	#end
	if(___mkey){
		dialogAlert(___mkey,___msg);
	}
</script>
