<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>橱窗列表</title>
<link href="${request.getContextPath()}/css/admin.css" rel="stylesheet">
<link href="${request.getContextPath()}/css/style.css" rel="stylesheet">
</head>

<body>
<div id="admin_right">
	<div class="headbar">
	<div class="field">
		<table class="list_table">
		<colgroup>
		<col width="300px">
		</colgroup>
		<thead>
				<tr id="headth" class="">
					<th>橱窗名称</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<div class="content">
	<table class="list_table" id="list_table">
		<colgroup>
		<col width="300px">
		</colgroup>
		<tbody id="conth">
			#foreach($row in $list_showcase)
			<tr>
				<td>
					${row.showcaseName}
				</td>
			</tr>
			#end
		</tbody>
	</table>
</div>
	</div>
</body>
</html>
