<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>添加促销活动</title>
<link href="css/admin.css" rel="stylesheet">
<link href="css/art.css" rel="stylesheet">
<link href="css/default.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="admin/js/sale/sale.js"></script>
<script language="javascript" src="DatePicker/WdatePicker.js" type="text/javascript"></script>  
</head>

<body>
#getMothodSc("moduleName=admin.action.Common" "parameters=tag:1,vmpath:admin/head.vm,level:4,level2:9");
<div id="admin_right">
<div class="headbar">
	<div class="position"><span>活动</span><span>&gt;</span><span>促销活动管理</span><span>&gt;</span><span>添加促销活动</span></div>
	<ul name="conf_menu" class="tab">
		<li class="selected">活动信息</li>
	</ul>
</div>
<div class="content_box">
	<div class="content form_content">
		<form  method="post" action="savePro.htm" >
			<table  class="form_table" >
				<colgroup><col width="150px">
				<col>
				</colgroup><tbody><tr>
					<th>活动名称：</th>
					<td><input type="text"   name="name" class="normal"><label>活动名称</label></td>
				</tr>
				<tr>
					<th>活动时间：</th>
					<td>
					<input name="start_time" class="Wdate" onfocus="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss',skin:'blue'})" />
					<input name="end_time" class="Wdate" onfocus="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss',skin:'blue'})" />
					
						<label>* 此活动的使用时间段</label>
					</td>
				</tr>
				<tr>
				
					<th>会员级别：</th>
					<td>
						<ul class="attr_list clearfix">
							<li><label class="attr"><input id="reverse" type="checkbox"  value="0" name="user_group">全部</label></li>
						   #foreach( $level in $levelList )
							<li><label class="attr"><input class="lccheck" type="checkbox"  value="$level.id" name="user_group">$level.le_name</label></li>
							#end
							<li><label>*允许参加的用户级别</label></li>
						</ul>
						
					</td>
					
				</tr>
				<tr>
					<th>是否启用：</th>
					<td>
						<label class="attr"><input type="radio" checked="checked" value="1" name="is_valida">是</label>
						<label class="attr"><input type="radio"  value="0" name="is_valida">否</label>
					</td>
				</tr>
				<tr>
					<th>消费金额：</th>
					<td>
						<input type="text"   name="balance" class="normal">
					</td>
				</tr>
				<tr>
					<th>活动类型：</th>
					<td>
					<label class="attr"><input type="radio" value="1" name="type" onclick="chang_v(1)" checked="checked">优惠现金</label>
					##<label class="attr"><input type="radio" value="2" name="type" onclick="chang_v(2)">打折</label>
				    ##<label class="attr"><input type="radio" value="3" name="type" onclick="chang_v(3)">送积分</label>
					<label class="attr"><input type="radio" value="4" name="type" onclick="chang_v(4)">免运费</label>
					</td>
				</tr>
				<tr id="tr_show_1">
					<th>优惠值：</th>
					<td>
						<input type="text"   name="to_value" class="normal">
						<label id="show_1">元</label>
						<label style="display:none;" id="show_2">打</label>
						<label style="display:none;" id="show_3">积分</label>
					</td>
				</tr>
				<tr>
					<th>活动说明：</th>
					<td><textarea class="textarea" name="detial"></textarea></td>
				</tr>
			</tbody></table>
			<div class="clear"></div>
			<button type="submit" class="submit"><span>确 定</span></button>
		</form>
	</div>
</div>

	</div>
	#getMothodSc("moduleName=admin.action.Common" "parameters=tag:2,vmpath:admin/foot.vm");
</body>
</html>
