


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>模板管理</title>
    <link href="css/admin.css" rel="stylesheet">
	<link href="css/art.css" rel="stylesheet">
	<link href="css/default.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<script type="text/javascript" src="js/jquery.js"></script>

</head>

<body>
    #getMothodSc("moduleName=admin.action.Common" "parameters=tag:1,vmpath:admin/head.vm,level:4,level2:9");
	<div id="admin_right">
	<div class="headbar">
	<div class="position"><span>会员</span><span>&gt;</span><span>邮件短信设置</span><span>&gt;</span><span>模板管理</span></div>
	<div class="field">
		<table class="list_table">
			<colgroup><col width="20px">
			<col>
			<col width="100px">
			</colgroup><thead>
				<tr>
					<th></th>
					<th>模板名称</th>
					<th>操作</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<div class="content">
	<table class="list_table" id="list_table">
		<colgroup><col width="20px">
		<col>
		<col width="100px">
		</colgroup><tbody>
						<tr class="">
				<td></td>
				<td>到货通知</td>
				<td><a href="#"><img title="编辑模板" src="../../image/icon_edit.gif" class="operator"></a></td>
			</tr>
						<tr class="even">
				<td></td>
				<td>网站订阅</td>
				<td><a href="#"><img title="编辑模板" src="../../image/icon_edit.gif" class="operator"></a></td>
			</tr>
						<tr class="">
				<td></td>
				<td>找回密码</td>
				<td><a href="#"><img title="编辑模板" src="../../image/icon_edit.gif" class="operator"></a></td>
			</tr>
					</tbody>
	</table>
</div>
	</div>
</body>
</html>