<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>添加用户组</title>
<link href="css/admin.css" rel="stylesheet">
	<link href="css/art.css" rel="stylesheet">
	<link href="css/default.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
<div id="admin_right">
<div class="headbar">
	<div class="position"><span>会员</span><span>&gt;</span><span>用户组管理</span><span>&gt;</span><span>添加用户组</span></div>
</div>
<div class="content_box">
	<div class="content form_content">
		<form method="post" action="" novalidate="true">
			<table class="form_table">
				<colgroup><col width="150px">
				<col>
				</colgroup><tbody><tr>
					<th>用户组：</th><td><input type="text"   value="" name="le_name" class="normal"><label>用户等级名称</label></td>
				</tr>
				<tr>
					<th>消费总金额</th><td><input type="text"   value="" name="discount" class="normal">%<label>用户消费此金额时升级为此会员等级</label></td>
				</tr>
				<tr>
					<td></td><td><button type="submit" class="submit"><span>确 定</span></button></td>
				</tr>
			</tbody></table>
		</form>
	</div>
</div>
	</div>
</body>
</html>